workflows/[Ing] Github PR Workflow Test.json
{"createdAt":"2025-05-09T01:55:01.027Z","updatedAt":"2025-05-12T02:13:17.000Z","id":"zDyZtkig0OdVnWAN","name":"[Ing] Github PR Workflow Test","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"pr-test","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-500,-40],"id":"5426ab84-6d14-447a-99de-48bb9650811b","name":"Webhook","webhookId":"ce95c1de-0192-4ebe-8e2d-a69ac9abcde6"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $node[\"Webhook\"].json.body.action }}","rightValue":"opened","operator":{"type":"string","operation":"equals"},"id":"c7d665ba-a326-4958-aaa8-c3dc9f918106"}],"combinator":"and"},"renameOutput":true,"outputKey":"PR Opened"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9592b91-b1df-4292-bef3-c7ba9d400b7f","leftValue":"={{ $node[\"Webhook\"].json.body.action }}","rightValue":"closed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PR Closed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e90285ec-51ff-4b5a-9fdd-9af5c6a01237","leftValue":"={{ $node[\"Webhook\"].json.body.action }}","rightValue":"reopened","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PR Reopened"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"432b734c-c939-43ae-b8ad-e90386a7d836","leftValue":"={{ $node[\"Webhook\"].json.body.action }}","rightValue":"synchronize","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PR Branch Update"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0d76f2ea-ceb9-49ac-a069-211028cd0fd4","leftValue":"={{ $node[\"Webhook\"].json.body.action }}","rightValue":"assigned","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PR Assigned "}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-240,-80],"id":"cbbacd23-4180-4deb-a8fa-fac7e005a8d6","name":"Switch"},{"parameters":{"jsCode":"console.log($input.all())\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,-260],"id":"d0ba706a-503a-4362-a258-9bf0dfc5ac9a","name":"Code"}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"connection":"close","host":"developjik.store","x-forwarded-scheme":"https","x-forwarded-proto":"https","x-forwarded-for":"140.82.115.8","x-real-ip":"140.82.115.8","content-length":"22835","user-agent":"GitHub-Hookshot/493515f","accept":"*/*","content-type":"application/json","x-github-delivery":"c11fcdb0-2c78-11f0-95f8-e3b437db0f0a","x-github-event":"pull_request","x-github-hook-id":"542746902","x-github-hook-installation-target-id":"969793805","x-github-hook-installation-target-type":"repository"},"params":{},"query":{},"body":{"action":"opened","number":6,"pull_request":{"url":"https://api.github.com/repos/developjik1/workflow_test/pulls/6","id":2508435114,"node_id":"PR_kwDOOc3hDc6Vg66q","html_url":"https://github.com/developjik1/workflow_test/pull/6","diff_url":"https://github.com/developjik1/workflow_test/pull/6.diff","patch_url":"https://github.com/developjik1/workflow_test/pull/6.patch","issue_url":"https://api.github.com/repos/developjik1/workflow_test/issues/6","number":6,"state":"open","locked":false,"title":"Update README.md","user":{"login":"developjik1","id":104342916,"node_id":"U_kgDOBjglhA","avatar_url":"https://avatars.githubusercontent.com/u/104342916?v=4","gravatar_id":"","url":"https://api.github.com/users/developjik1","html_url":"https://github.com/developjik1","followers_url":"https://api.github.com/users/developjik1/followers","following_url":"https://api.github.com/users/developjik1/following{/other_user}","gists_url":"https://api.github.com/users/developjik1/gists{/gist_id}","starred_url":"https://api.github.com/users/developjik1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/developjik1/subscriptions","organizations_url":"https://api.github.com/users/developjik1/orgs","repos_url":"https://api.github.com/users/developjik1/repos","events_url":"https://api.github.com/users/developjik1/events{/privacy}","received_events_url":"https://api.github.com/users/developjik1/received_events","type":"User","user_view_type":"public","site_admin":false},"body":null,"created_at":"2025-05-09T01:55:59Z","updated_at":"2025-05-09T01:55:59Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/developjik1/workflow_test/pulls/6/commits","review_comments_url":"https://api.github.com/repos/developjik1/workflow_test/pulls/6/comments","review_comment_url":"https://api.github.com/repos/developjik1/workflow_test/pulls/comments{/number}","comments_url":"https://api.github.com/repos/developjik1/workflow_test/issues/6/comments","statuses_url":"https://api.github.com/repos/developjik1/workflow_test/statuses/0219b36f9254ec6381cd4cf8ea0e51a319fe4c22","head":{"label":"developjik1:test","ref":"test","sha":"0219b36f9254ec6381cd4cf8ea0e51a319fe4c22","user":{"login":"developjik1","id":104342916,"node_id":"U_kgDOBjglhA","avatar_url":"https://avatars.githubusercontent.com/u/104342916?v=4","gravatar_id":"","url":"https://api.github.com/users/developjik1","html_url":"https://github.com/developjik1","followers_url":"https://api.github.com/users/developjik1/followers","following_url":"https://api.github.com/users/developjik1/following{/other_user}","gists_url":"https://api.github.com/users/developjik1/gists{/gist_id}","starred_url":"https://api.github.com/users/developjik1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/developjik1/subscriptions","organizations_url":"https://api.github.com/users/developjik1/orgs","repos_url":"https://api.github.com/users/developjik1/repos","events_url":"https://api.github.com/users/developjik1/events{/privacy}","received_events_url":"https://api.github.com/users/developjik1/received_events","type":"User","user_view_type":"public","site_admin":false},"repo":{"id":969793805,"node_id":"R_kgDOOc3hDQ","name":"workflow_test","full_name":"developjik1/workflow_test","private":false,"owner":{"login":"developjik1","id":104342916,"node_id":"U_kgDOBjglhA","avatar_url":"https://avatars.githubusercontent.com/u/104342916?v=4","gravatar_id":"","url":"https://api.github.com/users/developjik1","html_url":"https://github.com/developjik1","followers_url":"https://api.github.com/users/developjik1/followers","following_url":"https://api.github.com/users/developjik1/following{/other_user}","gists_url":"https://api.github.com/users/developjik1/gists{/gist_id}","starred_url":"https://api.github.com/users/developjik1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/developjik1/subscriptions","organizations_url":"https://api.github.com/users/developjik1/orgs","repos_url":"https://api.github.com/users/developjik1/repos","events_url":"https://api.github.com/users/developjik1/events{/privacy}","received_events_url":"https://api.github.com/users/developjik1/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/developjik1/workflow_test","description":null,"fork":false,"url":"https://api.github.com/repos/developjik1/workflow_test","forks_url":"https://api.github.com/repos/developjik1/workflow_test/forks","keys_url":"https://api.github.com/repos/developjik1/workflow_test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/developjik1/workflow_test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/developjik1/workflow_test/teams","hooks_url":"https://api.github.com/repos/developjik1/workflow_test/hooks","issue_events_url":"https://api.github.com/repos/developjik1/workflow_test/issues/events{/number}","events_url":"https://api.github.com/repos/developjik1/workflow_test/events","assignees_url":"https://api.github.com/repos/developjik1/workflow_test/assignees{/user}","branches_url":"https://api.github.com/repos/developjik1/workflow_test/branches{/branch}","tags_url":"https://api.github.com/repos/developjik1/workflow_test/tags","blobs_url":"https://api.github.com/repos/developjik1/workflow_test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/developjik1/workflow_test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/developjik1/workflow_test/git/refs{/sha}","trees_url":"https://api.github.com/repos/developjik1/workflow_test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/developjik1/workflow_test/statuses/{sha}","languages_url":"https://api.github.com/repos/developjik1/workflow_test/languages","stargazers_url":"https://api.github.com/repos/developjik1/workflow_test/stargazers","contributors_url":"https://api.github.com/repos/developjik1/workflow_test/contributors","subscribers_url":"https://api.github.com/repos/developjik1/workflow_test/subscribers","subscription_url":"https://api.github.com/repos/developjik1/workflow_test/subscription","commits_url":"https://api.github.com/repos/developjik1/workflow_test/commits{/sha}","git_commits_url":"https://api.github.com/repos/developjik1/workflow_test/git/commits{/sha}","comments_url":"https://api.github.com/repos/developjik1/workflow_test/comments{/number}","issue_comment_url":"https://api.github.com/repos/developjik1/workflow_test/issues/comments{/number}","contents_url":"https://api.github.com/repos/developjik1/workflow_test/contents/{+path}","compare_url":"https://api.github.com/repos/developjik1/workflow_test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/developjik1/workflow_test/merges","archive_url":"https://api.github.com/repos/developjik1/workflow_test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/developjik1/workflow_test/downloads","issues_url":"https://api.github.com/repos/developjik1/workflow_test/issues{/number}","pulls_url":"https://api.github.com/repos/developjik1/workflow_test/pulls{/number}","milestones_url":"https://api.github.com/repos/developjik1/workflow_test/milestones{/number}","notifications_url":"https://api.github.com/repos/developjik1/workflow_test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/developjik1/workflow_test/labels{/name}","releases_url":"https://api.github.com/repos/developjik1/workflow_test/releases{/id}","deployments_url":"https://api.github.com/repos/developjik1/workflow_test/deployments","created_at":"2025-04-21T00:02:31Z","updated_at":"2025-05-09T01:55:19Z","pushed_at":"2025-05-09T01:55:41Z","git_url":"git://github.com/developjik1/workflow_test.git","ssh_url":"git@github.com:developjik1/workflow_test.git","clone_url":"https://github.com/developjik1/workflow_test.git","svn_url":"https://github.com/developjik1/workflow_test","homepage":null,"size":8,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":1,"watchers":0,"default_branch":"main","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE"}},"base":{"label":"developjik1:main","ref":"main","sha":"0ba6a323fc2d2164af555ed9e6719efe37d1e731","user":{"login":"developjik1","id":104342916,"node_id":"U_kgDOBjglhA","avatar_url":"https://avatars.githubusercontent.com/u/104342916?v=4","gravatar_id":"","url":"https://api.github.com/users/developjik1","html_url":"https://github.com/developjik1","followers_url":"https://api.github.com/users/developjik1/followers","following_url":"https://api.github.com/users/developjik1/following{/other_user}","gists_url":"https://api.github.com/users/developjik1/gists{/gist_id}","starred_url":"https://api.github.com/users/developjik1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/developjik1/subscriptions","organizations_url":"https://api.github.com/users/developjik1/orgs","repos_url":"https://api.github.com/users/developjik1/repos","events_url":"https://api.github.com/users/developjik1/events{/privacy}","received_events_url":"https://api.github.com/users/developjik1/received_events","type":"User","user_view_type":"public","site_admin":false},"repo":{"id":969793805,"node_id":"R_kgDOOc3hDQ","name":"workflow_test","full_name":"developjik1/workflow_test","private":false,"owner":{"login":"developjik1","id":104342916,"node_id":"U_kgDOBjglhA","avatar_url":"https://avatars.githubusercontent.com/u/104342916?v=4","gravatar_id":"","url":"https://api.github.com/users/developjik1","html_url":"https://github.com/developjik1","followers_url":"https://api.github.com/users/developjik1/followers","following_url":"https://api.github.com/users/developjik1/following{/other_user}","gists_url":"https://api.github.com/users/developjik1/gists{/gist_id}","starred_url":"https://api.github.com/users/developjik1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/developjik1/subscriptions","organizations_url":"https://api.github.com/users/developjik1/orgs","repos_url":"https://api.github.com/users/developjik1/repos","events_url":"https://api.github.com/users/developjik1/events{/privacy}","received_events_url":"https://api.github.com/users/developjik1/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/developjik1/workflow_test","description":null,"fork":false,"url":"https://api.github.com/repos/developjik1/workflow_test","forks_url":"https://api.github.com/repos/developjik1/workflow_test/forks","keys_url":"https://api.github.com/repos/developjik1/workflow_test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/developjik1/workflow_test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/developjik1/workflow_test/teams","hooks_url":"https://api.github.com/repos/developjik1/workflow_test/hooks","issue_events_url":"https://api.github.com/repos/developjik1/workflow_test/issues/events{/number}","events_url":"https://api.github.com/repos/developjik1/workflow_test/events","assignees_url":"https://api.github.com/repos/developjik1/workflow_test/assignees{/user}","branches_url":"https://api.github.com/repos/developjik1/workflow_test/branches{/branch}","tags_url":"https://api.github.com/repos/developjik1/workflow_test/tags","blobs_url":"https://api.github.com/repos/developjik1/workflow_test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/developjik1/workflow_test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/developjik1/workflow_test/git/refs{/sha}","trees_url":"https://api.github.com/repos/developjik1/workflow_test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/developjik1/workflow_test/statuses/{sha}","languages_url":"https://api.github.com/repos/developjik1/workflow_test/languages","stargazers_url":"https://api.github.com/repos/developjik1/workflow_test/stargazers","contributors_url":"https://api.github.com/repos/developjik1/workflow_test/contributors","subscribers_url":"https://api.github.com/repos/developjik1/workflow_test/subscribers","subscription_url":"https://api.github.com/repos/developjik1/workflow_test/subscription","commits_url":"https://api.github.com/repos/developjik1/workflow_test/commits{/sha}","git_commits_url":"https://api.github.com/repos/developjik1/workflow_test/git/commits{/sha}","comments_url":"https://api.github.com/repos/developjik1/workflow_test/comments{/number}","issue_comment_url":"https://api.github.com/repos/developjik1/workflow_test/issues/comments{/number}","contents_url":"https://api.github.com/repos/developjik1/workflow_test/contents/{+path}","compare_url":"https://api.github.com/repos/developjik1/workflow_test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/developjik1/workflow_test/merges","archive_url":"https://api.github.com/repos/developjik1/workflow_test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/developjik1/workflow_test/downloads","issues_url":"https://api.github.com/repos/developjik1/workflow_test/issues{/number}","pulls_url":"https://api.github.com/repos/developjik1/workflow_test/pulls{/number}","milestones_url":"https://api.github.com/repos/developjik1/workflow_test/milestones{/number}","notifications_url":"https://api.github.com/repos/developjik1/workflow_test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/developjik1/workflow_test/labels{/name}","releases_url":"https://api.github.com/repos/developjik1/workflow_test/releases{/id}","deployments_url":"https://api.github.com/repos/developjik1/workflow_test/deployments","created_at":"2025-04-21T00:02:31Z","updated_at":"2025-05-09T01:55:19Z","pushed_at":"2025-05-09T01:55:41Z","git_url":"git://github.com/developjik1/workflow_test.git","ssh_url":"git@github.com:developjik1/workflow_test.git","clone_url":"https://github.com/developjik1/workflow_test.git","svn_url":"https://github.com/developjik1/workflow_test","homepage":null,"size":8,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":1,"watchers":0,"default_branch":"main","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE"}},"_links":{"self":{"href":"https://api.github.com/repos/developjik1/workflow_test/pulls/6"},"html":{"href":"https://github.com/developjik1/workflow_test/pull/6"},"issue":{"href":"https://api.github.com/repos/developjik1/workflow_test/issues/6"},"comments":{"href":"https://api.github.com/repos/developjik1/workflow_test/issues/6/comments"},"review_comments":{"href":"https://api.github.com/repos/developjik1/workflow_test/pulls/6/comments"},"review_comment":{"href":"https://api.github.com/repos/developjik1/workflow_test/pulls/comments{/number}"},"commits":{"href":"https://api.github.com/repos/developjik1/workflow_test/pulls/6/commits"},"statuses":{"href":"https://api.github.com/repos/developjik1/workflow_test/statuses/0219b36f9254ec6381cd4cf8ea0e51a319fe4c22"}},"author_association":"OWNER","auto_merge":null,"active_lock_reason":null,"merged":false,"mergeable":null,"rebaseable":null,"mergeable_state":"unknown","merged_by":null,"comments":0,"review_comments":0,"maintainer_can_modify":false,"commits":1,"additions":1,"deletions":0,"changed_files":1},"repository":{"id":969793805,"node_id":"R_kgDOOc3hDQ","name":"workflow_test","full_name":"developjik1/workflow_test","private":false,"owner":{"login":"developjik1","id":104342916,"node_id":"U_kgDOBjglhA","avatar_url":"https://avatars.githubusercontent.com/u/104342916?v=4","gravatar_id":"","url":"https://api.github.com/users/developjik1","html_url":"https://github.com/developjik1","followers_url":"https://api.github.com/users/developjik1/followers","following_url":"https://api.github.com/users/developjik1/following{/other_user}","gists_url":"https://api.github.com/users/developjik1/gists{/gist_id}","starred_url":"https://api.github.com/users/developjik1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/developjik1/subscriptions","organizations_url":"https://api.github.com/users/developjik1/orgs","repos_url":"https://api.github.com/users/developjik1/repos","events_url":"https://api.github.com/users/developjik1/events{/privacy}","received_events_url":"https://api.github.com/users/developjik1/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/developjik1/workflow_test","description":null,"fork":false,"url":"https://api.github.com/repos/developjik1/workflow_test","forks_url":"https://api.github.com/repos/developjik1/workflow_test/forks","keys_url":"https://api.github.com/repos/developjik1/workflow_test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/developjik1/workflow_test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/developjik1/workflow_test/teams","hooks_url":"https://api.github.com/repos/developjik1/workflow_test/hooks","issue_events_url":"https://api.github.com/repos/developjik1/workflow_test/issues/events{/number}","events_url":"https://api.github.com/repos/developjik1/workflow_test/events","assignees_url":"https://api.github.com/repos/developjik1/workflow_test/assignees{/user}","branches_url":"https://api.github.com/repos/developjik1/workflow_test/branches{/branch}","tags_url":"https://api.github.com/repos/developjik1/workflow_test/tags","blobs_url":"https://api.github.com/repos/developjik1/workflow_test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/developjik1/workflow_test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/developjik1/workflow_test/git/refs{/sha}","trees_url":"https://api.github.com/repos/developjik1/workflow_test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/developjik1/workflow_test/statuses/{sha}","languages_url":"https://api.github.com/repos/developjik1/workflow_test/languages","stargazers_url":"https://api.github.com/repos/developjik1/workflow_test/stargazers","contributors_url":"https://api.github.com/repos/developjik1/workflow_test/contributors","subscribers_url":"https://api.github.com/repos/developjik1/workflow_test/subscribers","subscription_url":"https://api.github.com/repos/developjik1/workflow_test/subscription","commits_url":"https://api.github.com/repos/developjik1/workflow_test/commits{/sha}","git_commits_url":"https://api.github.com/repos/developjik1/workflow_test/git/commits{/sha}","comments_url":"https://api.github.com/repos/developjik1/workflow_test/comments{/number}","issue_comment_url":"https://api.github.com/repos/developjik1/workflow_test/issues/comments{/number}","contents_url":"https://api.github.com/repos/developjik1/workflow_test/contents/{+path}","compare_url":"https://api.github.com/repos/developjik1/workflow_test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/developjik1/workflow_test/merges","archive_url":"https://api.github.com/repos/developjik1/workflow_test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/developjik1/workflow_test/downloads","issues_url":"https://api.github.com/repos/developjik1/workflow_test/issues{/number}","pulls_url":"https://api.github.com/repos/developjik1/workflow_test/pulls{/number}","milestones_url":"https://api.github.com/repos/developjik1/workflow_test/milestones{/number}","notifications_url":"https://api.github.com/repos/developjik1/workflow_test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/developjik1/workflow_test/labels{/name}","releases_url":"https://api.github.com/repos/developjik1/workflow_test/releases{/id}","deployments_url":"https://api.github.com/repos/developjik1/workflow_test/deployments","created_at":"2025-04-21T00:02:31Z","updated_at":"2025-05-09T01:55:19Z","pushed_at":"2025-05-09T01:55:41Z","git_url":"git://github.com/developjik1/workflow_test.git","ssh_url":"git@github.com:developjik1/workflow_test.git","clone_url":"https://github.com/developjik1/workflow_test.git","svn_url":"https://github.com/developjik1/workflow_test","homepage":null,"size":8,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":1,"watchers":0,"default_branch":"main"},"sender":{"login":"developjik1","id":104342916,"node_id":"U_kgDOBjglhA","avatar_url":"https://avatars.githubusercontent.com/u/104342916?v=4","gravatar_id":"","url":"https://api.github.com/users/developjik1","html_url":"https://github.com/developjik1","followers_url":"https://api.github.com/users/developjik1/followers","following_url":"https://api.github.com/users/developjik1/following{/other_user}","gists_url":"https://api.github.com/users/developjik1/gists{/gist_id}","starred_url":"https://api.github.com/users/developjik1/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/developjik1/subscriptions","organizations_url":"https://api.github.com/users/developjik1/orgs","repos_url":"https://api.github.com/users/developjik1/repos","events_url":"https://api.github.com/users/developjik1/events{/privacy}","received_events_url":"https://api.github.com/users/developjik1/received_events","type":"User","user_view_type":"public","site_admin":false}},"webhookUrl":"https://developjik.store/webhook/pr-test","executionMode":"production"}}]},"versionId":"729968f2-8814-4f5b-b5e9-16c40abdf5f2","triggerCount":1,"tags":[]}