workflows/[Personal] n8n 워크플로우 GitHub 백업 자동화.json
{"createdAt":"2025-05-07T02:41:14.567Z","updatedAt":"2025-05-13T15:46:25.000Z","id":"yqdERCZ8ptmWMgVH","name":"[Personal] n8n 워크플로우 GitHub 백업 자동화","active":true,"nodes":[{"parameters":{"content":"# 🔄 n8n 워크플로우 GitHub 백업 자동화\n\n이 워크플로우는 n8n 인스턴스의 모든 워크플로우를 자동으로 GitHub 저장소에 백업합니다.\n\n## ⚙️ 작동 방식\n1. 매일 저녁 9시(21:00)에 실행\n2. n8n API에서 모든 워크플로우 정보 가져오기\n3. 각 워크플로우마다:\n  - GitHub 저장소에서 파일 존재 여부 확인\n  - 없으면 → 새 파일 생성 및 커밋\n  - 있으면 → 내용 비교 후 변경된 경우에만 업데이트\n4. 백업 결과를 이메일로 통보 (성공/실패 통계)\n\n## 📁 저장 정보\n- 경로: `workflows/[워크플로우이름].json`\n- 저장소: `developjik/n8n-workflows`\n- 커밋 메시지: `[N8N Backup] [워크플로우이름].json`\n\n## 💡 주요 개선사항\n- 보안 토큰 관리 - Credentials 기능으로 안전하게 처리\n- 강화된 오류 처리 - 개별 워크플로우 백업 실패 시에도 전체 프로세스 계속 진행\n- 결과 모니터링 - 성공/실패 통계 및 상세 오류 보고\n- 파일명 안전성 - 특수문자 자동 처리로 파일 시스템 호환성 강화\n\n## 🛠️ 필요한 설정\n- GitHub API 자격 증명 (저장소 접근 권한 필요)\n- n8n API 자격 증명 (워크플로우 목록 조회 권한 필요)\n\n## 💪 활용 이점\n- 워크플로우 자동 버전 관리\n- 변경사항이 있는 워크플로우만 업데이트\n- 실수로 인한 워크플로우 손실 방지\n- 변경 이력 추적 가능","height":1640,"width":3320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-520,-800],"id":"1d6daf28-f221-4211-a441-c5c8294ba689","name":"Sticky Note5"},{"parameters":{"rule":{"interval":[{"triggerAtHour":21}]}},"id":"54dcf51c-e72b-46ad-8ce6-595ffe0de835","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-700,555],"typeVersion":1.2},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"developjik"},{"name":"repo.name","value":"n8n-workflows"},{"name":"repo.path","value":"workflows/"},{"name":"timestamp","value":"={{ $now }}"},{"name":"backup_stats","value":"{{ {\"total\": 0, \"created\": 0, \"updated\": 0, \"unchanged\": 0, \"failed\": 0} }}"}]},"options":{}},"id":"27c4fad3-8fdf-40bb-a10e-1373e6946c11","name":"Globals","type":"n8n-nodes-base.set","position":[-480,555],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"65caa249-f277-4661-b35f-736cb36811a1","name":"n8n","type":"n8n-nodes-base.n8n","position":[-260,555],"typeVersion":1,"credentials":{"n8nApi":{"id":"521LRQgwmRwHq1EC","name":"developjik n8n account"}},"continueOnFail":true},{"parameters":{"jsCode":"// 워크플로우 데이터 유효성 검증 및 처리\nconst items = $input.all();\nconst validItems = [];\n\nfor (const item of items) {\n  if (!item.json || !item.json.name) {\n    // 이름이 없는 워크플로우는 건너뛰기\n    continue;\n  }\n  \n  // 워크플로우 이름에서 파일명으로 사용할 수 없는 문자 제거\n  // const safeName = item.json.name.replace(/[\\/?*:;{}\\\\\\[\\]]/g, '');\n  \n  // 안전한 파일명 추가\n  // item.json.name = safeName;\n  \n  validItems.push(item);\n}\n\n// 전체 워크플로우 수 업데이트\nconst stats = $node[\"Globals\"].json.backup_stats;\nstats.total = validItems.length;\n\nreturn [\n  ...validItems\n];"},"id":"b36644dd-018a-4630-9f60-fb9f3cbdb5b4","name":"Prepare Workflows","type":"n8n-nodes-base.code","position":[-40,555],"typeVersion":1},{"parameters":{"options":{}},"id":"2c665cf3-0a29-4761-b3f4-aa72ffad1268","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[180,555],"executeOnce":false,"typeVersion":3},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $json.name }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"3d2c3000-472b-4af8-b8bb-acae2a671685","name":"GitHub","type":"n8n-nodes-base.github","position":[520,560],"typeVersion":1,"alwaysOutputData":true,"webhookId":"b4f93260-b316-4043-9711-eb2319d8901e","credentials":{"githubApi":{"id":"ztjSZnhw13h8m4UG","name":"Developjik GitHub account"}},"continueOnFail":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"9f544663-b4de-4cf1-9663-5a2553f07188","name":"If","type":"n8n-nodes-base.if","position":[720,560],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all();\n\nfor (const item of items) {\n    try {\n        // Base64 디코딩\n        if (item.json.content) {\n            item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8');\n        }\n        \n        // 오류 표시 제거\n        if (item.json.error) {\n            delete item.json.error;\n        }\n    } catch (error) {\n        // 디코딩 오류 처리\n        item.json.error = `Decoding error: ${error.message}`;\n    }\n}\n\nreturn items;\n"},"id":"5fd0a849-6096-4be5-939c-7e85e2dab19a","name":"Decode Content","type":"n8n-nodes-base.code","position":[920,260],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"a6608273-0cb3-436d-8983-e77a98d43bde","name":"Check If Changed","type":"n8n-nodes-base.if","position":[1060,380],"typeVersion":2.2},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString() }}","commitMessage":"[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"3d9667ed-2d86-42b5-9302-26e91306892e","name":"Update file","type":"n8n-nodes-base.github","position":[1280,280],"typeVersion":1,"webhookId":"92bdefdf-ec3e-42a7-a5ba-2797432c67e3","credentials":{"githubApi":{"id":"ztjSZnhw13h8m4UG","name":"Developjik GitHub account"}},"continueOnFail":true},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString() }}","commitMessage":"[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"6f8bd1f3-ad1e-4bf9-b0f1-431a19bc3652","name":"Create new file","type":"n8n-nodes-base.github","position":[1280,680],"typeVersion":1,"webhookId":"9b2404d9-90d8-412d-8113-45a9ce3b2a15","credentials":{"githubApi":{"id":"ztjSZnhw13h8m4UG","name":"Developjik GitHub account"}},"continueOnFail":true},{"parameters":{"jsCode":"// 백업 결과 통계 업데이트\nconst stats = $node[\"Globals\"].json.backup_stats;\nconst item = $input.first();\n\n// 파일 생성 결과 처리\nif (item.json.error) {\n  stats.failed++;\n} else {\n  stats.created++;\n}\n\nreturn [\n  {\n    json: {\n      workflow: $('Loop Over Items').first().json.name,\n      operation: \"create\",\n      status: item.json.error ? \"failed\" : \"success\",\n      error: item.json.error,\n      stats: stats\n    }\n  }\n];"},"id":"c679f2da-dc61-4f14-93f0-5f9de7920bc3","name":"Process Create Result","type":"n8n-nodes-base.code","position":[1500,680],"typeVersion":1},{"parameters":{"jsCode":"// 백업 결과 통계 업데이트\nconst stats = $node[\"Globals\"].json.backup_stats;\nconst item = $input.first();\n\n// 파일 업데이트 결과 처리\nif (item.json.error) {\n  stats.failed++;\n} else {\n  stats.updated++;\n}\n\nreturn [\n  {\n    json: {\n      workflow: $('Loop Over Items').first().json.name,\n      operation: \"update\",\n      status: item.json.error ? \"failed\" : \"success\",\n      error: item.json.error,\n      stats: stats\n    }\n  }\n];"},"id":"b810a138-94d0-483c-9674-34d87abe5409","name":"Process Update Result","type":"n8n-nodes-base.code","position":[1500,280],"typeVersion":1},{"parameters":{"jsCode":"// 변경 없음 상태 처리\nconst stats = $node[\"Globals\"].json.backup_stats;\nstats.unchanged++;\n\nreturn [\n  {\n    json: {\n      workflow: $('Loop Over Items').first().json.name,\n      operation: \"check\",\n      status: \"unchanged\",\n      stats: stats\n    }\n  }\n];"},"id":"9b59d30b-154d-4eca-ba6b-ddb6ca6a5ce8","name":"No Changes","type":"n8n-nodes-base.code","position":[1500,480],"typeVersion":1},{"parameters":{},"id":"24f90621-95f8-4e49-b876-0d8f03759e33","name":"Merge Results","type":"n8n-nodes-base.merge","position":[1720,680],"typeVersion":2},{"parameters":{"amount":3,"unit":"seconds"},"id":"64567044-8b34-42c0-a22b-bcf2176a41a6","name":"Wait","type":"n8n-nodes-base.wait","position":[1940,680],"typeVersion":1,"webhookId":"01497a17-2a45-4a57-aa74-e53d183a122d"},{"parameters":{"jsCode":"// 최종 백업 결과 요약\nconst items = $input.all();\nconst firstItem = items[0];\n\n// 백업 통계 수집\nconst stats = firstItem.json.stats;\n\n// 이메일로 보낼 내용 생성\nconst timestamp = new Date().toISOString();\nconst summary = {\n  json: {\n    timestamp: timestamp,\n    backup_results: {\n      total_workflows: stats.total,\n      created: stats.created,\n      updated: stats.updated,\n      unchanged: stats.unchanged,\n      failed: stats.failed,\n      success_rate: `${Math.round(((stats.created + stats.updated + stats.unchanged) / stats.total) * 100)}%`\n    },\n    failed_workflows: items\n      .filter(item => item.json.status === \"failed\" || item.json.status === \"error\")\n      .map(item => ({\n        name: item.json.workflow,\n        operation: item.json.operation,\n        error: item.json.error\n      }))\n  }\n};\n\nreturn [summary];"},"id":"8ea97941-72cf-4a12-aa35-d4c10d2504e3","name":"Prepare Summary","type":"n8n-nodes-base.code","position":[2160,680],"typeVersion":1},{"parameters":{"jsCode":"// 파일 존재하지 않음 처리\nconst stats = $node[\"Globals\"].json.backup_stats;\nstats.failed++;\n\nreturn [\n  {\n    json: {\n      workflow: $('Loop Over Items').first().json.name,\n      operation: \"check\",\n      status: \"error\",\n      error: $input.first().json.error,\n      stats: stats\n    }\n  }\n];"},"id":"0176b85a-e8ca-4885-9513-6d921337cc32","name":"Process Error","type":"n8n-nodes-base.code","position":[1500,980],"typeVersion":1},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-600,1140],"id":"da908b1a-9dd5-410e-bd3e-bf4db7a93ff7","name":"When clicking ‘Test workflow’"},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"developjik"},{"name":"repo.name","value":"n8n-workflows"},{"name":"repo.path","value":"workflows/"},{"name":"timestamp","value":"={{ $now }}"},{"name":"backup_stats","value":"{{ {\"total\": 0, \"created\": 0, \"updated\": 0, \"unchanged\": 0, \"failed\": 0} }}"}]},"options":{}},"id":"f433d2b4-c3b3-43d9-a341-83efff7a5071","name":"Globals1","type":"n8n-nodes-base.set","position":[-300,1120],"typeVersion":1},{"parameters":{"url":"=https://api.github.com/repos/{{ $json.repo.owner }}/{{ $json.repo.name }}/contents/{{ $json.repo.path }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,1120],"id":"853cdd3b-ae61-43d0-844f-47d8d7c62e53","name":"HTTP Request","credentials":{"httpBearerAuth":{"id":"IMdXSClR7SYVZXdl","name":"[Personal] developjik Github"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Prepare Workflows","type":"main","index":0}]]},"Prepare Workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Decode Content","type":"main","index":0}],[{"node":"Create new file","type":"main","index":0}]]},"Decode Content":{"main":[[{"node":"Check If Changed","type":"main","index":0}]]},"Check If Changed":{"main":[[{"node":"Update file","type":"main","index":0}],[{"node":"No Changes","type":"main","index":0}]]},"Update file":{"main":[[{"node":"Process Update Result","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Process Create Result","type":"main","index":0}]]},"Process Create Result":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Process Update Result":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"No Changes":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Merge Results":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Prepare Summary","type":"main","index":0}]]},"Prepare Summary":{"main":[[]]},"Process Error":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Globals1","type":"main","index":0}]]},"Globals1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"61e7de46-ff53-46fe-af9a-0b0ed56d9d3d","triggerCount":1,"tags":[]}