workflows/code review.json
{"updatedAt":"2026-01-02T10:46:42.000Z","createdAt":"2025-11-08T17:44:58.238Z","id":"0JgXS0RDGb0gT2Ns","name":"code review","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}},"id":"4895c2ca-3df3-4a5a-b1b8-9243826dccc8","name":"매일 오전 9시 실행","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2176,80],"notes":"매일 오전 9시에 워크플로우 자동 실행"},{"parameters":{"assignments":{"assignments":[{"id":"0d754ad6-1df4-4ba8-814e-cc64412eaa0e","name":"gemini-cli","value":"gemini-cli","type":"string"}]},"options":{}},"id":"79f3f655-eb65-4b4d-805e-a76d7d25fc8d","name":"저장소 설정","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1952,80],"notes":"분석할 GitHub 저장소 목록 정의"},{"parameters":{"assignments":{"assignments":[{"id":"repo-list","name":"repoList","value":"={{ $json[\"gemini-cli\"] }}","type":"array"}]},"options":{}},"id":"df0afcea-1e4b-4d9b-ab5b-a89dc2dea071","name":"저장소 목록 파싱","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1728,-288]},{"parameters":{"url":"=https://api.github.com/repos/{{ $json[\"gemini-cli\"] }}/pulls","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"state","value":"closed"},{"name":"sort","value":"updated"},{"name":"direction","value":"desc"},{"name":"per_page","value":"30"}]},"options":{}},"id":"33d99463-9c2f-4d60-abda-01432a98b74f","name":"최근 병합된 PR 가져오기","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1552,80],"credentials":{"githubApi":{"id":"ztjSZnhw13h8m4UG","name":"Developjik GitHub account"}},"continueOnFail":true,"notes":"최근 병합된 PR 목록을 GitHub API로 가져오기"},{"parameters":{"jsCode":"// 최근 7일 내 병합된 PR만 필터링\nconst daysToLookBack = 7;\nconst cutoffDate = new Date();\ncutoffDate.setDate(cutoffDate.getDate() - daysToLookBack);\n\nconst prs = $input.all();\nconst filteredPRs = [];\n\nfor (const item of prs) {\n  const prData = item.json;\n  \n  // merged_at이 있고 cutoff date 이후인 PR만\n  if (prData.merged_at) {\n    const mergedDate = new Date(prData.merged_at);\n    \n    if (mergedDate >= cutoffDate) {\n      // 필요한 정보만 추출\n      filteredPRs.push({\n        json: {\n          repository: prData.base.repo.full_name,\n          prNumber: prData.number,\n          prTitle: prData.title,\n          prUrl: prData.html_url,\n          author: prData.user.login,\n          mergedAt: prData.merged_at,\n          reviewCommentsUrl: prData.review_comments_url,\n          commentsCount: prData.review_comments || 0\n        }\n      });\n    }\n  }\n}\n\n// 리뷰 코멘트가 2개 이상인 PR만 반환\nconst prsWithReviews = filteredPRs.filter(pr => pr.json.commentsCount >= 2);\n\nconsole.log(`필터링 결과: ${prsWithReviews.length}개 PR (전체 ${filteredPRs.length}개 중)`);\n\nreturn prsWithReviews;"},"id":"20dcf744-84e6-4d00-92ef-ad7cf99d75e8","name":"PR 필터링","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1072,80],"notes":"7일 내 병합되고 리뷰가 2개 이상인 PR만 선택"},{"parameters":{"url":"={{ $json.reviewCommentsUrl }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"id":"a0762d15-9b1c-4c4e-bb71-7fd8c19723c0","name":"리뷰 코멘트 가져오기","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-848,80],"continueOnFail":true,"notes":"각 PR의 리뷰 코멘트 상세 정보 가져오기"},{"parameters":{"jsCode":"// 리뷰 코멘트 데이터 정리 및 포맷팅\nconst items = $input.all();\nconst formattedReviews = [];\n\nfor (const item of items) {\n  const prInfo = item.json;\n  \n  // 리뷰 코멘트가 배열인지 확인\n  if (Array.isArray(prInfo) && prInfo.length > 0) {\n    // 각 리뷰 코멘트 처리\n    for (const comment of prInfo) {\n      // 의미있는 리뷰만 선택 (50자 이상)\n      if (comment.body && comment.body.length > 50) {\n        formattedReviews.push({\n          json: {\n            repository: comment.html_url.split('/repos/')[1]?.split('/')[0] + '/' + comment.html_url.split('/repos/')[1]?.split('/')[1] || 'unknown',\n            prNumber: comment.pull_request_url.split('/').pop(),\n            prUrl: comment.pull_request_url.replace('api.github.com/repos', 'github.com').replace('/pulls/', '/pull/'),\n            reviewId: comment.id,\n            reviewer: comment.user.login,\n            reviewBody: comment.body,\n            reviewCreatedAt: comment.created_at,\n            diffHunk: comment.diff_hunk || '',\n            path: comment.path || '',\n            line: comment.line || comment.original_line || 0,\n            commentUrl: comment.html_url\n          }\n        });\n      }\n    }\n  }\n}\n\nconsole.log(`포맷팅 완료: ${formattedReviews.length}개의 리뷰 코멘트`);\n\nreturn formattedReviews.length > 0 ? formattedReviews : [{ json: { noReviews: true } }];"},"id":"37aa7cb2-1cd6-4e3c-b8c1-dde1b22de231","name":"리뷰 데이터 포맷팅","type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,80],"notes":"리뷰 코멘트를 분석하기 쉬운 형태로 정리"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-reviews","leftValue":"={{ $json.noReviews }}","rightValue":"","operator":{"type":"boolean","operation":"notExists"}}],"combinator":"and"},"options":{}},"id":"daa58ceb-1e94-43b8-84aa-4c6920377c16","name":"리뷰 존재 확인","type":"n8n-nodes-base.if","typeVersion":2,"position":[-416,80],"notes":"실제 리뷰가 있는지 확인"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"predefinedCredentialType","nodeCredentialType":"anthropicApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"다음 코드 리뷰를 분석해주세요:\\n\\n저장소: {{ $json.repository }}\\nPR 번호: #{{ $json.prNumber }}\\n리뷰어: {{ $json.reviewer }}\\n파일: {{ $json.path }}\\n\\n코드 변경:\\n```\\n{{ $json.diffHunk }}\\n```\\n\\n리뷰 코멘트:\\n{{ $json.reviewBody }}\\n\\n다음 형식의 JSON으로 분석 결과를 반환해주세요:\\n{\\n  \\\"category\\\": \\\"버그|성능|가독성|보안|테스트|디자인패턴|문서화\\\",\\n  \\\"summary\\\": \\\"핵심 포인트 1-2문장 요약\\\",\\n  \\\"problem\\\": \\\"지적된 문제점\\\",\\n  \\\"solution\\\": \\\"제안된 해결책\\\",\\n  \\\"insight\\\": \\\"이 리뷰에서 배울 수 있는 교훈\\\",\\n  \\\"applicableScenarios\\\": [\\\"적용 가능한 상황들\\\"]\\n}\"\n    }\n  ]\n}","options":{}},"id":"50de9b3a-5fdb-413c-a2ff-bd9f3fd4888d","name":"Claude로 리뷰 분석 (선택)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,-32],"continueOnFail":true,"notes":"Claude API로 리뷰 내용 분석 및 분류 (비용 발생 - 선택적 사용)"},{"parameters":{"jsCode":"// Claude 분석 결과와 원본 데이터 병합\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const reviewData = item.json;\n  \n  // Claude 응답 파싱\n  let analysis = {};\n  if (reviewData.content && reviewData.content[0] && reviewData.content[0].text) {\n    try {\n      // JSON 추출 (마크다운 코드 블록 제거)\n      const jsonText = reviewData.content[0].text\n        .replace(/```json\\n?/g, '')\n        .replace(/```\\n?/g, '')\n        .trim();\n      analysis = JSON.parse(jsonText);\n    } catch (e) {\n      console.log('JSON 파싱 실패, 원본 텍스트 사용:', e.message);\n      analysis = {\n        category: '분류안됨',\n        summary: reviewData.content[0].text.substring(0, 200),\n        rawAnalysis: reviewData.content[0].text\n      };\n    }\n  }\n  \n  // 최종 데이터 구조화\n  results.push({\n    json: {\n      repository: $node[\"리뷰 데이터 포맷팅\"].json.repository,\n      prNumber: $node[\"리뷰 데이터 포맷팅\"].json.prNumber,\n      prUrl: $node[\"리뷰 데이터 포맷팅\"].json.prUrl,\n      reviewer: $node[\"리뷰 데이터 포맷팅\"].json.reviewer,\n      reviewBody: $node[\"리뷰 데이터 포맷팅\"].json.reviewBody,\n      commentUrl: $node[\"리뷰 데이터 포맷팅\"].json.commentUrl,\n      path: $node[\"리뷰 데이터 포맷팅\"].json.path,\n      reviewedAt: $node[\"리뷰 데이터 포맷팅\"].json.reviewCreatedAt,\n      // Claude 분석 결과\n      category: analysis.category || '미분류',\n      summary: analysis.summary || '',\n      problem: analysis.problem || '',\n      solution: analysis.solution || '',\n      insight: analysis.insight || '',\n      applicableScenarios: analysis.applicableScenarios || [],\n      // 메타 데이터\n      collectedAt: new Date().toISOString(),\n      workflowRun: $execution.id\n    }\n  });\n}\n\nreturn results;"},"id":"bf8f44d9-f3d0-44ca-91a6-e29d846fb416","name":"분석 결과 병합","type":"n8n-nodes-base.code","typeVersion":2,"position":[32,-32],"notes":"Claude 분석과 원본 데이터를 결합"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"2dc6c6d1-df2e-4af0-851a-87f9bae369e7","name":"브랜치 병합","type":"n8n-nodes-base.merge","typeVersion":3,"position":[32,80],"notes":"Claude 분석 경로와 직접 저장 경로 병합"},{"parameters":{"operation":"appendOrUpdate"},"id":"e59f1652-2141-4fcc-8441-f97c3a0421ed","name":"Notion에 저장","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[256,-32],"disabled":true,"continueOnFail":true,"notes":"Notion 데이터베이스에 저장 (Notion 연동 필요)"},{"parameters":{"operation":"write","fileName":"=/tmp/code-reviews-{{ $now.format('yyyy-MM-dd') }}.json","options":{"append":true}},"id":"49061a09-19f5-4d46-b226-a5c3df1eaf7f","name":"JSON 파일로 저장","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[256,176],"notes":"로컬 JSON 파일로 저장 (Notion 대안)"},{"parameters":{"assignments":{"assignments":[{"id":"summary","name":"summary","value":"=✅ 코드 리뷰 수집 완료\n\n수집된 리뷰: {{ $items().length }}개\n실행 시간: {{ $now.format('yyyy-MM-dd HH:mm:ss') }}\n워크플로우 ID: {{ $execution.id }}","type":"string"}]},"options":{}},"id":"85f89993-475a-44dd-99f3-b922b2b09b94","name":"실행 요약","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,80],"notes":"워크플로우 실행 결과 요약"},{"parameters":{"assignments":{"assignments":[{"id":"no-reviews","name":"message","value":"리뷰가 없는 PR입니다","type":"string"}]},"options":{}},"id":"49b85c97-6f1c-407a-95d4-c740cf49f4d6","name":"리뷰 없음","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,176],"notes":"리뷰가 없는 경우 처리"},{"parameters":{"fieldToSplitOut":"repoList","options":{}},"id":"de65ef39-d814-453c-9a79-2b8ec2294340","name":"저장소별 처리","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1520,-288],"notes":"각 저장소를 개별적으로 처리"}],"connections":{"매일 오전 9시 실행":{"main":[[{"node":"저장소 설정","type":"main","index":0}]]},"저장소 설정":{"main":[[{"node":"최근 병합된 PR 가져오기","type":"main","index":0}]]},"저장소 목록 파싱":{"main":[[{"node":"저장소별 처리","type":"main","index":0}]]},"최근 병합된 PR 가져오기":{"main":[[{"node":"PR 필터링","type":"main","index":0}]]},"PR 필터링":{"main":[[{"node":"리뷰 코멘트 가져오기","type":"main","index":0}]]},"리뷰 코멘트 가져오기":{"main":[[{"node":"리뷰 데이터 포맷팅","type":"main","index":0}]]},"리뷰 데이터 포맷팅":{"main":[[{"node":"리뷰 존재 확인","type":"main","index":0}]]},"리뷰 존재 확인":{"main":[[{"node":"Claude로 리뷰 분석 (선택)","type":"main","index":0},{"node":"브랜치 병합","type":"main","index":0}],[{"node":"리뷰 없음","type":"main","index":0}]]},"Claude로 리뷰 분석 (선택)":{"main":[[{"node":"분석 결과 병합","type":"main","index":0}]]},"분석 결과 병합":{"main":[[{"node":"브랜치 병합","type":"main","index":1}]]},"브랜치 병합":{"main":[[{"node":"Notion에 저장","type":"main","index":0},{"node":"JSON 파일로 저장","type":"main","index":0}]]},"Notion에 저장":{"main":[[{"node":"실행 요약","type":"main","index":0}]]},"JSON 파일로 저장":{"main":[[{"node":"실행 요약","type":"main","index":0}]]},"저장소별 처리":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d061d563-69f3-4a33-a6a2-84276359b78c","triggerCount":0,"shared":[{"updatedAt":"2025-11-08T17:44:58.243Z","createdAt":"2025-11-08T17:44:58.243Z","role":"workflow:owner","workflowId":"0JgXS0RDGb0gT2Ns","projectId":"0DdTWKXSpzuGIN4f"}],"tags":[]}