workflows/Confluence Page AI RAG.json
{"createdAt":"2025-04-21T05:58:56.327Z","updatedAt":"2025-04-21T06:01:58.000Z","id":"alE63MStq4P33NSA","name":"Confluence Page AI RAG","active":false,"nodes":[{"parameters":{"content":"## Confluence\nhttps://developer.atlassian.com/cloud/confluence/basic-auth-for-rest-apis/\nhttps://id.atlassian.com/manage-profile/security/api-tokens\nhttps://developer.atlassian.com/cloud/confluence/rest/v2/intro/#about\n\nSupplying basic auth headers\nYou can construct and send basic auth headers yourself, including a base64-encoded string that contains your Atlassian account email and API token.\n\nTo use basic auth headers, perform the following steps:\n\nGenerate an API Token for your Atlassian Account: https://id.atlassian.com/manage/api-tokens\nBuild a string of the form your_email@domain.com:your_user_api_token.\nYou'll need to encode your authorization credentials to Base64 encoded. You can do this locally:\nLinux/Unix/MacOS:\n\nCopy\n```\necho -n your_email@domain.com:your_user_api_token | base64\n```\nWindows 7 and later, using Microsoft Powershell:\n\nCopy\n```\n$Text = ‘your_email@domain.com:your_user_api_token’\n$Bytes = [System.Text.Encoding]::UTF8.GetBytes($Text)\n$EncodedText = [Convert]::ToBase64String($Bytes)\n$EncodedText\n```\nSupply an Authorization header with content Basic followed by the encoded string. Example: Authorization: Basic eW91cl9lbWFpbEBkb21haW4uY29tOnlvdXJfdXNlcl9hcGlfdG9rZW4=\n\nCopy\n```\ncurl -D- \\\n   -X GET \\\n   -H \"Authorization: Basic <your_encoded_string>\" \\\n   -H \"Content-Type: application/json\" \\\n   \"https://<your-domain.atlassian.net>/wiki/rest/api/space\"\n```\n\nThe above cURL command will not work as shown. You need to replace <your_encoded_string> and <your-domain.atlassian.net> with your authorization credentials encoded string and instance information before running it in the terminal.","height":974,"width":633,"color":7},"id":"17a2025d-f9ee-4129-8873-5e6344c4f7f6","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## Using Rest API to GET Confluence Page Body\nhttps://developer.atlassian.com/cloud/confluence/rest/v2/api-group-page/#api-pages-id-get\n\nRequest\nhttps://<your-wiki>.atlassian.net/wiki/api/v2/pages/{id}\nPath parameters\nid\ninteger\n\nRequired\nQuery parameters\n\nThe content format types to be returned in the body field of the response. \nIf available, the representation will be available under a response field of the same name under the body field.\n\nValid values: storage, atlas_doc_format, view, export_view, anonymous_export_view, styled_view, editor\n\n","height":381.59428876752247,"width":768.3946456283678,"color":5},"id":"fb737de0-b2f9-418b-be6a-5e5451510e3c","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[680,0],"typeVersion":1},{"parameters":{"url":"=https://example.atlassian.net/wiki/api/v2/pages/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"body-format","value":"storage"}]},"sendHeaders":true,"headerParameters":{"parameters":[{}]},"options":{}},"id":"641b579d-83a0-483f-9886-1c01cc540989","name":"Confluence Page Storage View","type":"n8n-nodes-base.httpRequest","position":[820,920],"typeVersion":4.2},{"parameters":{"html":"={{ $json.body.storage.value }}","options":{}},"id":"984a2b6a-aa91-4010-aa39-d7a70df92d49","name":"HTML to Markdown","type":"n8n-nodes-base.markdown","position":[1020,920],"typeVersion":1},{"parameters":{"options":{}},"id":"5b73f9ad-5a20-49fc-9862-0b873dce3f23","name":"gpt-4o-mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1180,1100],"typeVersion":1},{"parameters":{},"id":"62122416-45aa-438e-9192-2b7fb71aaaac","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.manualChatTrigger","position":[740,520],"typeVersion":1.1},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}"},"id":"689d5aac-9f0f-4f6b-b2a9-98a7e8e28d0a","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1320,1100],"typeVersion":1.2},{"parameters":{"content":"## Chatbot for Confluence Pages\n\n\n","height":515,"width":1163,"color":6},"id":"47639c3f-6006-459a-901d-727598761eeb","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[680,760],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"636ec5bb-141c-491b-b827-bf6c3753a531","name":"output","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"7b217d79-351b-4a85-bc36-633264070558","name":"Chat Response","type":"n8n-nodes-base.set","position":[1620,1020],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"74683edb-6368-4673-95f3-2885e30595cf","name":"page_id_tekla","type":"string","value":"688157"},{"id":"3a8796d7-3426-4f4a-bddf-973720b59e9d","name":"page_id_n8n","type":"string","value":"491546"},{"id":"42b27698-8d11-4fb0-a308-e256e0752f4d","name":"page_id_more_n8n","type":"string","value":"983041"},{"id":"62572887-e17a-4957-9ab1-3546277f79ab","name":"page_id_tekla_clash_checking","type":"string","value":"753691"}]},"options":{}},"id":"f5d69c4f-080c-42bb-9be0-d2a500cae231","name":"Globals","type":"n8n-nodes-base.set","position":[1020,520],"typeVersion":3.4},{"parameters":{"url":"=https://example.atlassian.net/wiki/rest/api/search?limit=1&cql=id={{ $json.page_id_n8n }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"0f7c1941-5711-4528-b30d-289e4a7202d3","name":"Search By ID","type":"n8n-nodes-base.httpRequest","position":[1220,520],"typeVersion":4.2},{"parameters":{"content":"## Confluence Search By ID","height":297,"width":872},"id":"4d0d979c-294d-46ea-a16f-1e08c95e0df3","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[940,420],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"3e8b49af-f3c6-4441-842f-9ce9a42c34b6","name":"content._links.webui","type":"string","value":"={{ $json.content._links.webui }}"},{"id":"6fd53eb3-52b2-4f7b-92ca-89a26e05d52a","name":"content._links.self","type":"string","value":"={{ $json.content._links.self }}"},{"id":"dfc89cbb-2f63-41ca-acfb-27b4d36d0418","name":"title","type":"string","value":"={{ $json.title }}"},{"id":"0e15af12-8ae2-4337-a174-f3c3592bd0c6","name":"url","type":"string","value":"={{ $json.url }}"},{"id":"6bbfa6eb-d6db-42c4-9ef6-81611fda0365","name":"excerpt","type":"string","value":"={{ $json.excerpt }}"},{"id":"a5a26e42-af66-41a6-9406-7ccb86fb3386","name":"id","type":"string","value":"={{ $json.content.id }}"}]},"options":{}},"id":"0d0d446c-5b6c-4b22-863f-a38006af8328","name":"Page Schema","type":"n8n-nodes-base.set","position":[1620,520],"typeVersion":3.4},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Answer questions from user with the context provided.  Only respond using the context.  If you do not know the answer simply respond with \"I don't know.\"\n\nUser question: {{ $('When chat message received').item.json.chatInput }}\n\nContext: {{ $json.data }}","options":{}},"id":"ebc7e69f-ad9b-4c62-a5a7-cdf588998ea2","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1220,920],"typeVersion":1.6},{"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"={{ $json.output}}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"26c5f9fa-7cf4-4116-a2db-1fdaede80e74","name":"Send Telegram Message","type":"n8n-nodes-base.telegram","position":[1620,820],"webhookId":"3ba1ee6d-1648-4421-823b-e68ae14d769b","typeVersion":1.2},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"9d883f5f-5530-420b-890e-9d1dafbadb60","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[1420,520],"typeVersion":1}],"connections":{"Confluence Page Storage View":{"main":[[{"node":"HTML to Markdown","type":"main","index":0}]]},"HTML to Markdown":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"gpt-4o-mini":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Globals":{"main":[[{"node":"Search By ID","type":"main","index":0}]]},"Search By ID":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Page Schema":{"main":[[{"node":"Confluence Page Storage View","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Chat Response","type":"main","index":0},{"node":"Send Telegram Message","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Page Schema","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0b63005a-33b5-4028-828d-2e6ce8dc0709","triggerCount":0,"tags":[],"safeName":"Confluence Page AI RAG"}