workflows/My workflow 3.json
{"createdAt":"2025-04-30T01:03:43.765Z","updatedAt":"2025-04-30T01:35:16.000Z","id":"tXm8ZFjS5YCeqVxt","name":"My workflow 3","active":false,"nodes":[{"parameters":{"conditions":{"boolean":[{"value1":"={{$json[\"success\"]}}","value2":true}]}},"name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[440,240],"id":"d8bc89ce-ec32-4934-a139-4ef3e026bd61"},{"parameters":{"jsCode":"// 성공 응답 처리\nconst data = items[0].json;\n\nconsole.log(`성공적으로 데이터를 가져왔습니다. 총 ${data.total_rows}개 행`);\n\nreturn [\n  {\n    json: {\n      result: 'success',\n      message: `성공적으로 데이터를 가져왔습니다. 총 ${data.total_rows}개 행`,\n      source: data.source,\n      timestamp: data.timestamp,\n      total_rows: data.total_rows,\n      data\n    }\n  }\n];"},"name":"Process Success","type":"n8n-nodes-base.code","typeVersion":1,"position":[560,-120],"id":"cd9e0cfe-dd7b-443b-a9b1-cc626fe6b02e"},{"parameters":{"jsCode":"// 오류 응답 처리\nconst error = items[0].json;\n\nconsole.log(`오류 발생: ${error.error || error.message}`);\n\nreturn [\n  {\n    json: {\n      result: 'error',\n      message: error.error || error.message,\n      timestamp: new Date().toISOString()\n    }\n  }\n];"},"name":"Process Error","type":"n8n-nodes-base.code","typeVersion":1,"position":[740,380],"id":"28e28987-52d0-482a-908b-adab659ec086"},{"parameters":{"workflowId":{"__rl":true,"value":"hj1Qpz1LUngjnHW5","mode":"list","cachedResultName":"Google Spreadsheet Data Fetch using Opensheet"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[200,240],"id":"04db0aeb-21e6-4eb6-b4ce-0ea97eee2b72","name":"Execute Workflow"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,240],"id":"858b7c9d-70c6-4f59-bc98-dd64abbba195","name":"When clicking ‘Test workflow’"},{"parameters":{"jsCode":"\n\nreturn [{\n  json: {\n    spreadsheet_id: '1h--hMzyvutjQr3zboupXNtAZ64pCWR9usB9ty1G5uYE',\n    tab_name: 'Sheet1'\n  }\n}];"},"id":"c9bd90cf-d5ad-426a-96d4-ddaf01058247","name":"Set Spreadsheet Parameters","type":"n8n-nodes-base.code","typeVersion":1,"position":[-200,240]},{"parameters":{"values":{"string":[{"name":"spreadsheet_id","value":"={{ $node['Set Spreadsheet Parameters'].json.spreadsheet_id }}"},{"name":"tab_name","value":"={{ $node['Set Spreadsheet Parameters'].json.tab_name }}"}]},"options":{}},"name":"Set Spreadsheet Variables","type":"n8n-nodes-base.set","typeVersion":1,"position":[-20,240],"id":"38f24760-6064-48b6-8187-276464fd45fd"},{"parameters":{"functionCode":"// 여러 스프레드시트 설정을 배열로 정의\nconst spreadsheetConfigs = [\n  {\n    name: '마케팅 데이터',\n    spreadsheet_id: '1h--hMzyvutjQr3zboupXNtAZ64pCWR9usB9ty1G5uYE',\n    tab_name: 'Sheet1'\n  },\n  {\n    name: '영업 데이터',\n    spreadsheet_id: '1h--hMzyvutjQr3zboupXNtAZ64pCWR9usB9ty1G5uYE',  // 예시로 같은 ID 사용\n    tab_name: 'Sheet2'\n  },\n  {\n    name: '재고 관리',\n    spreadsheet_id: '1h--hMzyvutjQr3zboupXNtAZ64pCWR9usB9ty1G5uYE',  // 예시로 같은 ID 사용\n    tab_name: 'Sheet3'\n  }\n];\n\n// 현재 시간을 기준으로 하나의 설정 선택 (순환)\nconst hour = new Date().getHours();\nconst selectedConfig = spreadsheetConfigs[hour % spreadsheetConfigs.length];\n\nconsole.log(`현재 시간: ${hour}시, 선택된 설정: ${selectedConfig.name}`);\n\n// 선택된 설정 반환\nreturn [\n  {\n    json: selectedConfig\n  }\n];"},"name":"Select Spreadsheet Config","type":"n8n-nodes-base.function","typeVersion":1,"position":[80,-20],"id":"e501796e-46be-4b11-b1e5-d9e0fa7108e6"},{"parameters":{"rule":{"interval":[{}]}},"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-140,-20],"id":"d229a3ee-3de2-4024-8e47-33c20c4009f9"},{"parameters":{"promptType":"define","text":"={{ $json.data.data }}","options":{"systemMessage":"You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1020,-360],"id":"27ea5c7a-9706-457b-881b-0fb688c41e6c","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1000,-20],"id":"d5ed7102-f2f9-4e8a-a2d3-255ae5c9d436","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"teZK5ibPNHcUd7eK","name":"Developjik OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=44444"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1160,160],"id":"20aa6e1e-e71b-48b3-bd19-45b3c28c1f13","name":"Simple Memory"}],"connections":{"IF":{"main":[[{"node":"Process Success","type":"main","index":0}],[{"node":"Process Error","type":"main","index":0}]]},"Process Success":{"main":[[]]},"Process Error":{"main":[[]]},"Execute Workflow":{"main":[[{"node":"IF","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Set Spreadsheet Parameters","type":"main","index":0}]]},"Set Spreadsheet Parameters":{"main":[[{"node":"Set Spreadsheet Variables","type":"main","index":0}]]},"Set Spreadsheet Variables":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Select Spreadsheet Config","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8cb386bb-52da-4eb8-a245-d723365104bb","triggerCount":0,"tags":[],"safeName":"My workflow 3"}