workflows/Stock Analysis Assistant.json
{"createdAt":"2025-06-16T05:24:16.037Z","updatedAt":"2025-06-16T06:37:24.000Z","id":"FUCYfU2Fmb6uVHbd","name":"Stock Analysis Assistant","active":false,"nodes":[{"parameters":{"url":"https://paper-api.alpaca.markets/v2/clock","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Apca-Api-Key-Id","value":"={{$(\"API Key\").first().json.key}}"},{"name":"Apca-Api-Secret-Key","value":"={{$(\"API Key\").first().json.secret_key}}"}]},"options":{}},"id":"fe6a32df-c746-4d45-b0f6-9dbe820a2771","name":"Check Market Status","type":"n8n-nodes-base.httpRequest","position":[420,-540],"typeVersion":4.2,"credentials":{"httpCustomAuth":{"id":"c7gdCJkVdR0XjZlK","name":"Alpaca Paper API"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"acca2d72-d9db-436d-aee8-81a3a359fe85","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.is_open }}","rightValue":""}]},"options":{}},"id":"8d614d4a-50d2-4b5c-b287-946485b70e0d","name":"Check if Market is open","type":"n8n-nodes-base.if","position":[640,-540],"typeVersion":2.2},{"parameters":{"content":"## 🤖 AI Assistant Prompt\n\nYou are a financial assistant writing a quick, readable market update for a general audience. Your job is to help people understand how well-known stocks are behaving — even if they aren’t professional traders.\n\nYou’ll be given:\n\nA list of stocks with technical indicators (e.g., momentum data)\nA timestamp (in RFC 3339 or ISO format) for when the data was pulled.\n📌 Your task:\nGroup the stocks into three categories:\n🟢 Buy Watchlist – Stocks showing signs of recovery or upward momentum\n⚪ Neutral Hold – Stocks with steady or unclear direction\n🔴 Caution / Sell – Stocks that appear overbought or may pull back\nFor each stock:\nWrite a short, plain-language insight about what’s happening\nUse familiar terms like “gaining steam,” “cooling off,” or “showing hesitation”\nAvoid technical jargon like RSI or MACD unless context makes it helpful\nAdd a helpful tip or comment for each stock (e.g.,\n“This pattern often signals hesitation” or\n“This dip might attract bargain hunters”)\nFinish with a summary line using the timestamp like this:\nSummary as of October 2, 2025 – Most stocks were stable with one or two worth watching.\n📦 Respond in Slack Markdown Only:\nExample Format:\n\n*📊 Market Summary (as of October 2, 2025)*\n\n🟢 *Buy Watchlist*  \n• TSLA – Recovering after a dip; gaining steam. This type of rebound often attracts early buyers.\n\n⚪ *Neutral Hold*  \n• AAPL – Holding steady. This often means the market is waiting on new developments.  \n• GOOGL – Moving sideways. A sign of consolidation before potential breakout.  \n• MSFT – Little movement. Could be digesting prior gains.  \n• NVDA – Slight back-and-forth. May indicate indecision in the market.\n\n🔴 *Caution / Sell*  \n• None at this time.\n\n_Summary as of October 2, 2025: Most stocks appear steady. TSLA could be one to watch if momentum holds._\n🚫 Do NOT:\nReturn raw JSON\nUse code blocks unless formatting Slack markdown (no YAML or tags)\nUse technical finance language unless simplified","height":940,"width":660,"color":5},"id":"97577c94-b417-45ca-be64-2311f7528e08","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[-1160,-720],"typeVersion":1},{"parameters":{"content":"","height":540,"width":220,"color":4},"id":"b0b3c4b1-05f1-46ca-ae6f-0a825719209e","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[2000,-900],"typeVersion":1},{"parameters":{"content":"## 💬 Post to Slack\n\n**Node:** `Send Summary to User(s)`  \nSends the GPT-generated summary to Slack using:\n```js\n{{ $json.output }}\n```\n⚙️ Configured with the appropriate Slack user or channel.","height":540,"width":220,"color":4},"id":"71175af7-4621-4be0-99ee-6f7a01f92147","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[1780,-900],"typeVersion":1},{"parameters":{},"id":"01db91e2-4415-4e46-af30-6951372aa239","name":"End of Flow","type":"n8n-nodes-base.noOp","position":[2000,-540],"typeVersion":1},{"parameters":{"content":"## 🤖 AI Assistant Summary\n\n**Node:** `Stock Analysis Assistant`  \nUses a custom OpenAI assistant to:\n- Group stocks into categories\n- Provide commentary in plain English\n- Teach users simple market behaviors\n\nPrompt includes:\n- Stock JSON (`summary`)\n- Timestamp (`$now`)\n\n📌 Uses Slack-friendly markdown output.","height":540,"width":360,"color":4},"id":"6cc27706-6fd0-4bf5-9b08-db42d01355db","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1420,-900],"typeVersion":1},{"parameters":{"content":"## 🧮 Interpret Data\n\n**Node:** `Interpret Data`  \nPython code calculates:\n- RSI(14)\n- MACD(12,26,9)\n- Decision status: `\"Buy\"`, `\"Hold\"`, or `\"Sell\"`\n\nOutputs:\n- `stocks`: a list of indicator values and status\n- `summary`: JSON string version for GPT","height":540,"width":220,"color":4},"id":"73b6a262-220a-491c-b2f6-f2724aaa5d18","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1200,-900],"typeVersion":1},{"parameters":{"content":"## 🔗 Fetch Stock Data\n\n**Node:** `Fetch Stock Data`  \nCalls Alpaca’s `/v2/stocks/bars` endpoint with:\n- `symbols`: from `Ticker List`\n- `timeframe`: `1Day`\n- `limit`: `1000`\n- `feed`: `iex` (avoid SIP permission error)\n- `start`: 100 days ago\n- `end`: today","height":540,"width":220,"color":4},"id":"4db7920e-be15-43a0-9c24-154005bea086","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[980,-900],"typeVersion":1},{"parameters":{"content":"## 📈 Ticker Setup\n\n**Node:** `Ticker List`  \nSets the stock symbols to be analyzed.\n\n📌 You can update this list to monitor different stocks.","height":540,"width":220,"color":4},"id":"91d33115-c11c-4b77-ad42-bd3166220d31","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[760,-900],"typeVersion":1},{"parameters":{"content":"## 🏛️ Market Status Check\n\n**Node:** `Check Market Status`  \nEndpoint: `https://paper-api.alpaca.markets/v2/clock`\n\nChecks if the market is open using Alpaca’s `/clock` endpoint.\n\n**Node:** `Check if Market is open`  \n- ✅ If true → continue  \n- ❌ If false → exit gracefully via the “Market is Closed” NoOp node","height":700,"width":460,"color":7},"id":"fe0bfb67-c7af-48a8-8257-80db677e41e0","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-240,-900],"typeVersion":1},{"parameters":{"content":"## 📅 Schedule Trigger\n\n**Node:** `Schedule Trigger`  \nRuns every hour between 6:30 AM and 2:30 PM (PST), Monday to Friday.  \n**Cron Expression:** `0 30 6-14 * * 1-5`\n\n⏰ Triggers analysis only during U.S. stock market hours.","height":700,"color":7},"id":"b90b4ef1-6893-4666-a6b0-5fb336a72cfb","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-480,-900],"typeVersion":1},{"parameters":{"content":"# 🧠 Stock Analysis Assistant\n\nThis workflow analyzes selected S&P 500 stocks using RSI and MACD indicators, summarizes the insights into plain English, and posts an update to Slack every hour during U.S. market hours (Mon–Fri).","width":660},"id":"3ff2ac8d-7541-405c-bc58-3e139d031ed1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1160,-900],"typeVersion":1},{"parameters":{},"id":"19dc91f4-f62e-4953-a9c7-b6be50b1c3de","name":"Market is Closed","type":"n8n-nodes-base.noOp","position":[620,-100],"typeVersion":1},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 30 6-14 * * 1-5"}]}},"id":"1db2baae-9b7a-4807-bcff-d853742a18d2","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-400,-540],"typeVersion":1.2},{"parameters":{"resource":"assistant","assistantId":{"mode":"list","value":"REDACTED_ASSISTANT_ID","cachedResultName":"REDACTED_ASSISTANT"},"prompt":"define","text":"=Here is the technical indicator data as JSON:\n\n{{ $json.summary }}\n\nPulled as of {{ $now }}","options":{}},"id":"aa20b160-86b6-4628-8e7c-2f96693d27e5","name":"Stock Analysis Assistant","type":"@n8n/n8n-nodes-langchain.openAi","position":[1480,-540],"typeVersion":1.8,"credentials":{"openAiApi":{"id":"teZK5ibPNHcUd7eK","name":"Developjik OpenAi account"}}},{"parameters":{"language":"python","pythonCode":"import pandas as pd\nimport numpy as np\nimport json\n\nbars_by_symbol = items[0]['json']['bars']\nstocks = []\n\nfor symbol, bars in bars_by_symbol.items():\n    closes = [bar['c'] for bar in bars if 'c' in bar]\n    if len(closes) < 30:\n        continue\n\n    df = pd.DataFrame({'close': closes})\n\n    # RSI(14)\n    delta = df['close'].diff()\n    gain = delta.clip(lower=0)\n    loss = -delta.clip(upper=0)\n    avg_gain = gain.rolling(14).mean()\n    avg_loss = loss.rolling(14).mean()\n    rs = avg_gain / avg_loss\n    df['rsi'] = 100 - (100 / (1 + rs))\n\n    # MACD (12,26,9)\n    ema12 = df['close'].ewm(span=12, adjust=False).mean()\n    ema26 = df['close'].ewm(span=26, adjust=False).mean()\n    df['macd'] = ema12 - ema26\n    df['signal'] = df['macd'].ewm(span=9, adjust=False).mean()\n\n    latest = df.iloc[-1]\n    rsi = latest['rsi']\n    macd = latest['macd']\n    signal = latest['signal']\n\n    status = \"Hold\"\n    if rsi < 30 and macd > signal:\n        status = \"Buy\"\n    elif rsi > 70 and macd < signal:\n        status = \"Sell\"\n\n    stocks.append({\n        \"ticker\": symbol,\n        \"rsi\": round(float(rsi), 2),\n        \"macd\": round(float(macd), 2),\n        \"signal\": round(float(signal), 2),\n        \"status\": status\n    })\n\nreturn [{\n    \"json\": {\n        \"summary\": json.dumps({\n            \"stocks\": stocks\n        }, separators=(',', ':')),\n      \"stocks\": stocks\n    }\n}]\n"},"id":"62444c58-2a23-4f8c-b3d1-e6a814d63cc9","name":"Interpret Data","type":"n8n-nodes-base.code","position":[1440,-300],"typeVersion":2},{"parameters":{"url":"=https://data.alpaca.markets/v2/stocks/bars","sendQuery":true,"queryParameters":{"parameters":[{"name":"symbols","value":"={{ $json.symbols }}"},{"name":"timeframe","value":"1Day"},{"name":"limit","value":"1000"},{"name":"feed","value":"iex"},{"name":"=start","value":"={{ new Date(Date.now() - 100 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}"},{"name":"end","value":"={{ new Date().toISOString().split('T')[0] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"APCA-API-KEY-ID","value":"={{$(\"API Key\").first().json.key}}"},{"name":"Apca-Api-Secret-Key","value":"={{$(\"API Key\").first().json.secret_key}}"}]},"options":{}},"id":"773f9d62-4237-46e0-8915-e4123a0edcd4","name":"Fetch Stock Data","type":"n8n-nodes-base.httpRequest","position":[1280,-540],"typeVersion":4.2},{"parameters":{"jsCode":"const name = $('Set API Sheet Variables').first().json.name;\n\nconst data = $input.all()[0]?.json.data ?? []\n\nconst filteredData = data?.filter((d)=> d?.name === name)\n\nreturn filteredData"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,-540],"id":"96a8a076-6fd5-401f-9a7c-7204d45b97d3","name":"API Key"},{"parameters":{"assignments":{"assignments":[{"id":"a896d4c9-bfa6-4939-b46d-43980424ff83","name":"spreadsheet_id","value":"={{ $('Set API Sheet Variables').item.json.spreadsheet_id }}","type":"string"},{"id":"8f55c4b1-1df0-498e-b0cb-d5f6646e98b4","name":"tab_name","value":"={{ $('Set API Sheet Variables').item.json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[920,-480],"id":"b58a7e88-aabc-4bb5-8c65-0018ec6a2432","name":"Set Alpaca Sheet Variables"},{"parameters":{"assignments":{"assignments":[{"id":"fab6f584-c941-4fea-83b5-0f49cb30e826","name":"spreadsheet_id","value":"1EIuBSVhF2syyCms4b7WIpZzsCPWLEfQMeZ7r34_T9_g","type":"string"},{"id":"4ef4ad85-da32-4057-b18e-ec299acddc0e","name":"tab_name","value":"API","type":"string"},{"id":"796b9ecd-bdb5-43a6-ba61-55336704e61a","name":"name","value":"alpaca","type":"string"},{"id":"e3c26719-2f77-4720-83c4-adb72e873fcc","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-180,-540],"id":"f9a9f096-2d88-4cd4-bb0e-b6eebc95027f","name":"Set API Sheet Variables"},{"parameters":{"workflowId":{"__rl":true,"value":"hj1Qpz1LUngjnHW5","mode":"list","cachedResultName":"[Shared] (Sub) Google Spreadsheet Data Fetch using Opensheet"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[920,-120],"id":"b0f3293d-b9ef-429d-bc4a-f4e1f4660ace","name":"Get Alpaca Sheet Data"},{"parameters":{"workflowId":{"__rl":true,"value":"hj1Qpz1LUngjnHW5","mode":"list","cachedResultName":"[Shared] (Sub) Google Spreadsheet Data Fetch using Opensheet"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[20,-540],"id":"ba33c2ff-5571-4899-ad09-3af13f88d0fb","name":"Get API Sheet Data"},{"parameters":{"jsCode":"const data = $input.all()[0]?.json.data ?? []\n\nconst symbols = data.reduce((acc, cur, index) => {\n  if(index + 1 === data?.length) {\n     return acc + cur.symbol\n  }\n  \n  return acc + cur.symbol +','\n}, '')\n\nreturn [{json: {symbols}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,-120],"id":"9c0648a0-6ba6-46b6-8a2c-8f2c25bf8bc6","name":"Symbols"}],"connections":{"Check Market Status":{"main":[[{"node":"Check if Market is open","type":"main","index":0}]]},"Check if Market is open":{"main":[[{"node":"Set Alpaca Sheet Variables","type":"main","index":0}],[{"node":"Market is Closed","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set API Sheet Variables","type":"main","index":0}]]},"Stock Analysis Assistant":{"main":[[{"node":"End of Flow","type":"main","index":0}]]},"Interpret Data":{"main":[[]]},"Fetch Stock Data":{"main":[[{"node":"Interpret Data","type":"main","index":0}]]},"API Key":{"main":[[{"node":"Check Market Status","type":"main","index":0}]]},"Set Alpaca Sheet Variables":{"main":[[{"node":"Get Alpaca Sheet Data","type":"main","index":0}]]},"Set API Sheet Variables":{"main":[[{"node":"Get API Sheet Data","type":"main","index":0}]]},"Get API Sheet Data":{"main":[[{"node":"API Key","type":"main","index":0}]]},"Get Alpaca Sheet Data":{"main":[[{"node":"Symbols","type":"main","index":0}]]},"Symbols":{"main":[[{"node":"Fetch Stock Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"07232bf0-55b0-4ced-9b6c-62c3655c060c","triggerCount":0,"tags":[]}