workflows/Upbit JWT - No Params.json
{"updatedAt":"2025-11-04T00:42:34.000Z","createdAt":"2025-11-03T15:43:02.141Z","id":"28t20YQJSeQPp8B5","name":"Upbit JWT - No Params","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-288,112],"id":"48f13be7-3891-4910-b266-d62738e147d5","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://api.upbit.com/v1/accounts","options":{}},"name":"Get Upbit Accounts","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[992,192],"id":"0dcf0df4-843c-422b-9213-9e7ce4554f3d"},{"parameters":{"values":{"string":[{"name":"access_key","value":"VWllyxyHEeodpZAHxUWcwhUQNQ3grggdjuCeHxzc"},{"name":"secret_key","value":"JzTkkTexv29ziMs8qiSjS73EaGm156WX6hDERSf1"},{"name":"nonce","value":"={{ $json.nonce }}"}]},"options":{}},"name":"Set API Keys","type":"n8n-nodes-base.set","typeVersion":1,"position":[112,112],"id":"984d8ba6-b1cd-4392-b417-9e6b38d99269"},{"parameters":{"useJson":true,"claimsJson":"={\n  \"access_key\": \"{{ $json.access_key }}\",\n  \"nonce\": \"{{ $json.nonce }}\"\n}","options":{}},"name":"Sign JWT","type":"n8n-nodes-base.jwt","typeVersion":1,"position":[320,112],"id":"d490f916-5fb8-4f2d-890e-bb6342b3b969","credentials":{"jwtAuth":{"id":"OI8HQf14HN2sRJIv","name":"JWT Auth account"}}},{"parameters":{"url":"https://api.upbit.com/v1/accounts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"accept","value":"application/json"}]},"options":{}},"name":"Upbit API Request (Get Accounts)","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[560,112],"id":"9636c6fc-3f5e-4692-80d9-17db3da99594"},{"parameters":{"action":"generate","dataPropertyName":"nonce"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-80,112],"id":"a2eb1f49-3894-40e7-b089-7d55fc393e6d","name":"Crypto"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Set API Keys":{"main":[[{"node":"Sign JWT","type":"main","index":0}]]},"Sign JWT":{"main":[[{"node":"Upbit API Request (Get Accounts)","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Set API Keys","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f316b04b-fb5f-4a58-94b2-6e0de104092d","triggerCount":0,"shared":[{"updatedAt":"2025-11-03T15:43:02.149Z","createdAt":"2025-11-03T15:43:02.149Z","role":"workflow:owner","workflowId":"28t20YQJSeQPp8B5","projectId":"0DdTWKXSpzuGIN4f"}],"tags":[]}