workflows/Upbit.json
{"updatedAt":"2025-11-07T23:57:27.000Z","createdAt":"2025-11-03T15:43:02.141Z","id":"28t20YQJSeQPp8B5","name":"Upbit","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://api.upbit.com/v1/accounts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"accept","value":"application/json"}]},"options":{}},"name":"Upbit Account","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-48,1136],"id":"c11a2ba2-5f0b-41ce-b897-f3d9594cf61a"},{"parameters":{"httpMethod":"POST","path":"upbit-sell","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-944,1136],"id":"42963d18-d432-4d75-ba5e-29f29e1c917f","name":"Upbit Sell Webhook","webhookId":"ccd10fce-fe24-4508-bbba-8d43f5024763"},{"parameters":{"action":"generate","dataPropertyName":"nonce"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-720,464],"id":"a2eb1f49-3894-40e7-b089-7d55fc393e6d","name":"Upbit Buy Crypto Nonce"},{"parameters":{"assignments":{"assignments":[{"id":"da227881-7eec-4255-9f2e-da38f00dd685","name":"access_key","value":"VWllyxyHEeodpZAHxUWcwhUQNQ3grggdjuCeHxzc","type":"string"},{"id":"703727ed-d4a6-443b-a73c-b55119fb0cc8","name":"nonce","value":"={{ $json.nonce }}","type":"string"},{"id":"2d850890-2054-428e-9007-cf5e535e36f0","name":"body","value":"={\n  \"market\": \"KRW-{{ $json.body }}\",\n  \"side\": \"bid\",\n  \"price\": \"2000000\",\n  \"ord_type\": \"price\"\n}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,464],"id":"ff78be48-710f-427d-8658-099a9c94c2c4","name":"Upbit Buy Set Fields"},{"parameters":{"jsCode":"const params = $input.first().json.body;\n\nconst queryString = Object.keys(params)\n  .map(key => `${encodeURIComponent(key)}=${encodeURIComponent(params[key])}`)\n  .join('&');\n\nreturn { queryString };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,464],"id":"55d1790f-bd1b-46cb-896a-77f7e82a9d5e","name":"Get Upbit Buy QueryString"},{"parameters":{"type":"SHA512","value":"={{ $json.queryString }}","dataPropertyName":"query_hash"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-48,464],"id":"448c9f2b-632c-4a58-9dbe-88fd6fd4924f","name":"Upbit Buy Crypto QueryString"},{"parameters":{"useJson":true,"claimsJson":"={\n  \"access_key\": \"{{ $('Upbit Buy Set Fields').item.json.access_key }}\",\n  \"nonce\": \"{{ $('Upbit Buy Set Fields').item.json.nonce }}\",\n  \"query_hash\": \"{{ $json.query_hash }}\",\n  \"query_hash_alg\": \"SHA512\"\n}","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[176,464],"id":"cd77b807-06d7-4ea2-b301-3f0457899b40","name":"Upbit Buy JWT","credentials":{"jwtAuth":{"id":"OI8HQf14HN2sRJIv","name":"JWT Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"da227881-7eec-4255-9f2e-da38f00dd685","name":"access_key","value":"VWllyxyHEeodpZAHxUWcwhUQNQ3grggdjuCeHxzc","type":"string"},{"id":"703727ed-d4a6-443b-a73c-b55119fb0cc8","name":"nonce","value":"={{ $json.nonce }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,1136],"id":"770fcb7b-54f2-441a-9ee3-e96854cd1e30","name":"Upbit Account Set Fields"},{"parameters":{"action":"generate","dataPropertyName":"nonce"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-720,1136],"id":"880148cc-37e8-4daa-a461-fa6ab48ef089","name":"Upbit Account Crypto Nonce"},{"parameters":{"useJson":true,"claimsJson":"={\n  \"access_key\": \"{{ $json.access_key }}\",\n  \"nonce\": \"{{ $json.nonce }}\",\n  \"query_hash_alg\": \"SHA512\",\n}","options":{}},"name":"Upbit Account JWT","type":"n8n-nodes-base.jwt","typeVersion":1,"position":[-272,1136],"id":"d490f916-5fb8-4f2d-890e-bb6342b3b969","credentials":{"jwtAuth":{"id":"OI8HQf14HN2sRJIv","name":"JWT Auth account"}}},{"parameters":{"action":"generate","dataPropertyName":"nonce"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[400,1136],"id":"00ae6eb3-5364-4209-b925-1654bf62ef39","name":"Upbit Sell Crypto Nonce"},{"parameters":{"jsCode":"console.log($input.all())\nreturn $input.all().filter(({json}) => json.currency === $('Upbit Sell Webhook').first().json.body);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,1136],"id":"a5691a5d-718d-4b07-8b54-4d7ae3a2142b","name":"Get Current Ticker Account Info"},{"parameters":{"assignments":{"assignments":[{"id":"da227881-7eec-4255-9f2e-da38f00dd685","name":"access_key","value":"VWllyxyHEeodpZAHxUWcwhUQNQ3grggdjuCeHxzc","type":"string"},{"id":"703727ed-d4a6-443b-a73c-b55119fb0cc8","name":"nonce","value":"={{ $json.nonce }}","type":"string"},{"id":"2d850890-2054-428e-9007-cf5e535e36f0","name":"body","value":"={\n  \"market\": \"KRW-{{ $('Upbit Sell Webhook').item.json.body }}\",\n  \"side\": \"ask\",\n  \"volume\": \"{{ $('Get Current Ticker Account Info').item.json.balance }}\",\n  \"ord_type\": \"market\"\n}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,1136],"id":"deee08ef-db62-47c6-9293-41abecc1ab7a","name":"Upbit Sell Set Fields"},{"parameters":{"jsCode":"const params = $input.first().json.body;\n\nconst queryString = Object.keys(params)\n  .map(key => `${encodeURIComponent(key)}=${encodeURIComponent(params[key])}`)\n  .join('&');\n\nreturn { queryString };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,1136],"id":"59f7f19f-53be-4359-8cc4-efe1c52c89f5","name":"Get Upbit Sell QueryString"},{"parameters":{"type":"SHA512","value":"={{ $json.queryString }}","dataPropertyName":"query_hash"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1072,1136],"id":"a3f19947-5d73-4ad3-ad6b-9f9b74ac7995","name":"Upbit Sell Crypto QueryString"},{"parameters":{"useJson":true,"claimsJson":"={\n  \"access_key\": \"{{ $('Upbit Sell Set Fields').item.json.access_key }}\",\n  \"nonce\": \"{{ $('Upbit Sell Set Fields').item.json.nonce }}\",\n  \"query_hash\": \"{{ $json.query_hash }}\",\n  \"query_hash_alg\": \"SHA512\"\n}","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[1296,1136],"id":"1fc675c1-8cab-43f5-bfa5-a678877798ad","name":"Upbit Sell JWT","credentials":{"jwtAuth":{"id":"OI8HQf14HN2sRJIv","name":"JWT Auth account"}}},{"parameters":{"method":"POST","url":"https://api.upbit.com/v1/orders/test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Upbit Sell Set Fields').item.json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-944,912],"id":"3acc1e25-aebd-4dd5-ac49-b204d78c8a6a","name":"Upbit Sell Order Test"},{"parameters":{"method":"POST","url":"https://api.upbit.com/v1/orders/test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Upbit Buy Set Fields').item.json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-944,688],"id":"7e8cf4ba-b327-40df-b271-72aafcfad1c5","name":"Upbit Buy Order Test"},{"parameters":{"httpMethod":"POST","path":"upbit-buy","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-944,464],"id":"36e3908d-7585-4960-a277-a9574b9be282","name":"Upbit Buy Webhook","webhookId":"ccd10fce-fe24-4508-bbba-8d43f5024763"},{"parameters":{"method":"POST","url":"https://api.upbit.com/v1/orders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Upbit Buy Set Fields').item.json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[400,464],"id":"aaf375d8-0c07-4d2e-8e52-bceef7ef27a5","name":"Upbit Buy Order"},{"parameters":{"method":"POST","url":"https://api.upbit.com/v1/orders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Upbit Sell Set Fields').item.json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1520,1136],"id":"2c54e848-02b9-479d-b167-b3c952c88ab1","name":"Upbit Sell Order"}],"connections":{"Upbit Buy Crypto Nonce":{"main":[[{"node":"Upbit Buy Set Fields","type":"main","index":0}]]},"Upbit Buy Set Fields":{"main":[[{"node":"Get Upbit Buy QueryString","type":"main","index":0}]]},"Get Upbit Buy QueryString":{"main":[[{"node":"Upbit Buy Crypto QueryString","type":"main","index":0}]]},"Upbit Buy Crypto QueryString":{"main":[[{"node":"Upbit Buy JWT","type":"main","index":0}]]},"Upbit Buy JWT":{"main":[[{"node":"Upbit Buy Order","type":"main","index":0}]]},"Upbit Sell Webhook":{"main":[[{"node":"Upbit Account Crypto Nonce","type":"main","index":0}]]},"Upbit Account Crypto Nonce":{"main":[[{"node":"Upbit Account Set Fields","type":"main","index":0}]]},"Upbit Account Set Fields":{"main":[[{"node":"Upbit Account JWT","type":"main","index":0}]]},"Upbit Account JWT":{"main":[[{"node":"Upbit Account","type":"main","index":0}]]},"Upbit Account":{"main":[[{"node":"Get Current Ticker Account Info","type":"main","index":0}]]},"Upbit Sell Crypto Nonce":{"main":[[{"node":"Upbit Sell Set Fields","type":"main","index":0}]]},"Get Current Ticker Account Info":{"main":[[{"node":"Upbit Sell Crypto Nonce","type":"main","index":0}]]},"Get Upbit Sell QueryString":{"main":[[{"node":"Upbit Sell Crypto QueryString","type":"main","index":0}]]},"Upbit Sell Set Fields":{"main":[[{"node":"Get Upbit Sell QueryString","type":"main","index":0}]]},"Upbit Sell Crypto QueryString":{"main":[[{"node":"Upbit Sell JWT","type":"main","index":0}]]},"Upbit Sell JWT":{"main":[[{"node":"Upbit Sell Order","type":"main","index":0}]]},"Upbit Buy Webhook":{"main":[[{"node":"Upbit Buy Crypto Nonce","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"934cc56c-2043-433c-a3c2-5d06e72a5f91","triggerCount":2,"shared":[{"updatedAt":"2025-11-03T15:43:02.149Z","createdAt":"2025-11-03T15:43:02.149Z","role":"workflow:owner","workflowId":"28t20YQJSeQPp8B5","projectId":"0DdTWKXSpzuGIN4f"}],"tags":[]}