workflows/Upbit Auto Trading (Improved).json
{"updatedAt":"2025-11-15T15:51:29.000Z","createdAt":"2025-11-03T15:43:02.141Z","id":"28t20YQJSeQPp8B5","name":"Upbit Auto Trading (Improved)","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://api.upbit.com/v1/accounts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"accept","value":"application/json"}]},"options":{}},"name":"Upbit Account","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-48,1136],"id":"c11a2ba2-5f0b-41ce-b897-f3d9594cf61a"},{"parameters":{"httpMethod":"POST","path":"upbit-sell","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-944,1136],"id":"42963d18-d432-4d75-ba5e-29f29e1c917f","name":"Upbit Sell Webhook","webhookId":"ccd10fce-fe24-4508-bbba-8d43f5024763"},{"parameters":{"action":"generate","dataPropertyName":"nonce"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-720,464],"id":"a2eb1f49-3894-40e7-b089-7d55fc393e6d","name":"Upbit Buy Crypto Nonce"},{"parameters":{"assignments":{"assignments":[{"id":"da227881-7eec-4255-9f2e-da38f00dd685","name":"access_key","value":"VWllyxyHEeodpZAHxUWcwhUQNQ3grggdjuCeHxzc","type":"string"},{"id":"703727ed-d4a6-443b-a73c-b55119fb0cc8","name":"nonce","value":"={{ $json.nonce }}","type":"string"},{"id":"2d850890-2054-428e-9007-cf5e535e36f0","name":"body","value":"={\n  \"market\": \"KRW-{{ $json.body }}\",\n  \"side\": \"bid\",\n  \"price\": \"2000000\",\n  \"ord_type\": \"price\"\n}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,464],"id":"ff78be48-710f-427d-8658-099a9c94c2c4","name":"Upbit Buy Set Fields"},{"parameters":{"jsCode":"const params = $input.first().json.body;\n\nconst queryString = Object.keys(params)\n  .map(key => `${encodeURIComponent(key)}=${encodeURIComponent(params[key])}`)\n  .join('&');\n\nreturn { queryString };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,464],"id":"55d1790f-bd1b-46cb-896a-77f7e82a9d5e","name":"Get Upbit Buy QueryString"},{"parameters":{"type":"SHA512","value":"={{ $json.queryString }}","dataPropertyName":"query_hash"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-48,464],"id":"448c9f2b-632c-4a58-9dbe-88fd6fd4924f","name":"Upbit Buy Crypto QueryString"},{"parameters":{"useJson":true,"claimsJson":"={\n  \"access_key\": \"{{ $('Upbit Buy Set Fields').item.json.access_key }}\",\n  \"nonce\": \"{{ $('Upbit Buy Set Fields').item.json.nonce }}\",\n  \"query_hash\": \"{{ $json.query_hash }}\",\n  \"query_hash_alg\": \"SHA512\"\n}","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[176,464],"id":"cd77b807-06d7-4ea2-b301-3f0457899b40","name":"Upbit Buy JWT","credentials":{"jwtAuth":{"id":"OI8HQf14HN2sRJIv","name":"Upbit JWT Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"da227881-7eec-4255-9f2e-da38f00dd685","name":"access_key","value":"VWllyxyHEeodpZAHxUWcwhUQNQ3grggdjuCeHxzc","type":"string"},{"id":"703727ed-d4a6-443b-a73c-b55119fb0cc8","name":"nonce","value":"={{ $json.nonce }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,1136],"id":"770fcb7b-54f2-441a-9ee3-e96854cd1e30","name":"Upbit Account Set Fields"},{"parameters":{"action":"generate","dataPropertyName":"nonce"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-720,1136],"id":"880148cc-37e8-4daa-a461-fa6ab48ef089","name":"Upbit Account Crypto Nonce"},{"parameters":{"useJson":true,"claimsJson":"={\n  \"access_key\": \"{{ $json.access_key }}\",\n  \"nonce\": \"{{ $json.nonce }}\",\n  \"query_hash_alg\": \"SHA512\",\n}","options":{}},"name":"Upbit Account JWT","type":"n8n-nodes-base.jwt","typeVersion":1,"position":[-272,1136],"id":"d490f916-5fb8-4f2d-890e-bb6342b3b969","credentials":{"jwtAuth":{"id":"OI8HQf14HN2sRJIv","name":"Upbit JWT Auth account"}}},{"parameters":{"action":"generate","dataPropertyName":"nonce"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[400,1136],"id":"00ae6eb3-5364-4209-b925-1654bf62ef39","name":"Upbit Sell Crypto Nonce"},{"parameters":{"jsCode":"console.log($input.all())\nreturn $input.all().filter(({json}) => json.currency === $('Upbit Sell Webhook').first().json.body);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,1136],"id":"a5691a5d-718d-4b07-8b54-4d7ae3a2142b","name":"Get Current Ticker Account Info"},{"parameters":{"assignments":{"assignments":[{"id":"da227881-7eec-4255-9f2e-da38f00dd685","name":"access_key","value":"VWllyxyHEeodpZAHxUWcwhUQNQ3grggdjuCeHxzc","type":"string"},{"id":"703727ed-d4a6-443b-a73c-b55119fb0cc8","name":"nonce","value":"={{ $json.nonce }}","type":"string"},{"id":"2d850890-2054-428e-9007-cf5e535e36f0","name":"body","value":"={\n  \"market\": \"KRW-{{ $('Upbit Sell Webhook').item.json.body }}\",\n  \"side\": \"ask\",\n  \"volume\": \"{{ $('Get Current Ticker Account Info').item.json.balance }}\",\n  \"ord_type\": \"market\"\n}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,1136],"id":"deee08ef-db62-47c6-9293-41abecc1ab7a","name":"Upbit Sell Set Fields"},{"parameters":{"jsCode":"const params = $input.first().json.body;\n\nconst queryString = Object.keys(params)\n  .map(key => `${encodeURIComponent(key)}=${encodeURIComponent(params[key])}`)\n  .join('&');\n\nreturn { queryString };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,1136],"id":"59f7f19f-53be-4359-8cc4-efe1c52c89f5","name":"Get Upbit Sell QueryString"},{"parameters":{"type":"SHA512","value":"={{ $json.queryString }}","dataPropertyName":"query_hash"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1072,1136],"id":"a3f19947-5d73-4ad3-ad6b-9f9b74ac7995","name":"Upbit Sell Crypto QueryString"},{"parameters":{"useJson":true,"claimsJson":"={\n  \"access_key\": \"{{ $('Upbit Sell Set Fields').item.json.access_key }}\",\n  \"nonce\": \"{{ $('Upbit Sell Set Fields').item.json.nonce }}\",\n  \"query_hash\": \"{{ $json.query_hash }}\",\n  \"query_hash_alg\": \"SHA512\"\n}","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[1296,1136],"id":"1fc675c1-8cab-43f5-bfa5-a678877798ad","name":"Upbit Sell JWT","credentials":{"jwtAuth":{"id":"OI8HQf14HN2sRJIv","name":"Upbit JWT Auth account"}}},{"parameters":{"method":"POST","url":"https://api.upbit.com/v1/orders/test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Upbit Sell Set Fields').item.json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-944,912],"id":"3acc1e25-aebd-4dd5-ac49-b204d78c8a6a","name":"Upbit Sell Order Test"},{"parameters":{"method":"POST","url":"https://api.upbit.com/v1/orders/test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Upbit Buy Set Fields').item.json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-944,688],"id":"7e8cf4ba-b327-40df-b271-72aafcfad1c5","name":"Upbit Buy Order Test"},{"parameters":{"httpMethod":"POST","path":"upbit-buy","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-944,464],"id":"36e3908d-7585-4960-a277-a9574b9be282","name":"Upbit Buy Webhook","webhookId":"ccd10fce-fe24-4508-bbba-8d43f5024763"},{"parameters":{"method":"POST","url":"https://api.upbit.com/v1/orders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Upbit Buy Set Fields').item.json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[400,464],"id":"aaf375d8-0c07-4d2e-8e52-bceef7ef27a5","name":"Upbit Buy Order"},{"parameters":{"method":"POST","url":"https://api.upbit.com/v1/orders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Upbit Sell Set Fields').item.json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1520,1136],"id":"2c54e848-02b9-479d-b167-b3c952c88ab1","name":"Upbit Sell Order"},{"parameters":{"httpMethod":"POST","path":"upbit-buy","authentication":"headerAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1008,2384],"id":"9f39a4e8-c537-4347-b5af-82242fe32aac","name":"TradingView Webhook","webhookId":"upbit-trading-webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"validate-symbol","leftValue":"={{ $json.body }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"validate-amount","leftValue":"={{ $json.body.amount }}","rightValue":5000,"operator":{"type":"number","operation":"largerEqual"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[-704,1968],"id":"477c02d0-dd17-4de3-b19f-a925681dcc62","name":"Validate Input"},{"parameters":{"assignments":{"assignments":[{"id":"symbol","name":"symbol","value":"={{ $json.body.symbol.toUpperCase() }}","type":"string"},{"id":"amount","name":"amount","value":"={{ $json.body.amount || 2000000 }}","type":"number"},{"id":"market","name":"market","value":"=KRW-{{ $json.body.symbol.toUpperCase() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,1712],"id":"abcac70e-0ebb-4940-bd53-0ed4b5080773","name":"Prepare Order Data"},{"parameters":{"action":"generate","dataPropertyName":"nonce"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-128,1712],"id":"49360306-49cc-4fb8-8adf-5b45f7917c20","name":"Generate Nonce"},{"parameters":{"assignments":{"assignments":[{"id":"order-params","name":"orderParams","value":"={\n  \"market\": \"{{ $('Prepare Order Data').item.json.market }}\",\n  \"side\": \"bid\",\n  \"price\": \"{{ $('Prepare Order Data').item.json.amount }}\",\n  \"ord_type\": \"price\"\n}","type":"object"},{"id":"nonce","name":"nonce","value":"={{ $json.nonce }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[96,1712],"id":"fc3d431f-97a0-4fa6-8733-c24a90179399","name":"Build Order Params"},{"parameters":{"jsCode":"// 주문 파라미터 가져오기\nconst orderParams = $input.first().json.orderParams;\n\nconst queryString = Object.keys(orderParams)\n  .map(key => `${encodeURIComponent(key)}=${encodeURIComponent(orderParams[key])}`)\n  .join('&');\n\n// 디버깅용 로그\nconsole.log('Order Params:', orderParams);\nconsole.log('Query String:', queryString);\n\nreturn { \n  queryString,\n  orderParams,\n  sortedKeys \n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,1712],"id":"51e71bf7-8eb9-4db6-b953-c3f6a3213040","name":"Create Query String"},{"parameters":{"type":"SHA512","value":"={{ $json.queryString }}","dataPropertyName":"query_hash"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[528,1712],"id":"ff5ad331-7665-4fd4-93e5-a2b928b28d05","name":"Hash Query String"},{"parameters":{"useJson":true,"claimsJson":"={\n  \"access_key\": \"VWllyxyHEeodpZAHxUWcwhUQNQ3grggdjuCeHxzc\",\n  \"nonce\": \"{{ $('Build Order Params').item.json.nonce }}\",\n  \"query_hash\": \"{{ $json.query_hash }}\",\n  \"query_hash_alg\": \"SHA512\"\n}","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[752,1712],"id":"dca88a8e-f172-428a-af31-5867b8ba3759","name":"Generate JWT","credentials":{"jwtAuth":{"id":"OI8HQf14HN2sRJIv","name":"Upbit JWT Auth account"}}},{"parameters":{"method":"POST","url":"https://api.upbit.com/v1/orders/test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Build Order Params').item.json.orderParams }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,1712],"id":"f8fe679d-2a06-410b-b294-11e9e6d6b4d9","name":"Execute Order","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"combineOperation":"any"},"conditions":[{"id":"check-uuid","leftValue":"={{ $json.uuid }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}},{"id":"check-state","leftValue":"={{ $json.state }}","rightValue":"wait","operator":{"type":"string","operation":"equals"}}]},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[1168,1456],"id":"2dbff531-8733-4a5b-8cb9-b833124cb3a3","name":"Check Order Success"},{"parameters":{"assignments":{"assignments":[{"id":"status","name":"status","value":"success","type":"string"},{"id":"message","name":"message","value":"=주문 성공: {{ $json.market }} - {{ $json.price }}원","type":"string"},{"id":"order-uuid","name":"orderUuid","value":"={{ $json.uuid }}","type":"string"},{"id":"market","name":"market","value":"={{ $json.market }}","type":"string"},{"id":"price","name":"price","value":"={{ $json.price }}","type":"string"},{"id":"timestamp","name":"timestamp","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,1440],"id":"038b8381-889e-471b-b5d2-8b075e4747c2","name":"Format Success Log"},{"parameters":{"assignments":{"assignments":[{"id":"status","name":"status","value":"error","type":"string"},{"id":"message","name":"message","value":"=주문 실패: {{ $json.error?.message || $json.message || 'Unknown error' }}","type":"string"},{"id":"error-detail","name":"errorDetail","value":"={{ JSON.stringify($json) }}","type":"string"},{"id":"timestamp","name":"timestamp","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1440,2208],"id":"1d3c41f9-d6fd-45c9-b11d-af929d0fad77","name":"Format Error Log"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1712,1440],"id":"184fabdd-b1b9-4156-af85-5fb159d0af6e","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"error-status","name":"status","value":"validation_error","type":"string"},{"id":"error-message","name":"message","value":"잘못된 요청: symbol 또는 amount가 유효하지 않습니다","type":"string"},{"id":"received-data","name":"receivedData","value":"={{ JSON.stringify($json.body) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,2064],"id":"767978c4-b447-4cf6-af9b-548656df39e0","name":"Format Validation Error"},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":400}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-128,2080],"id":"53abe421-7426-44f3-b3ac-ddcfe203db15","name":"Respond Validation Error"},{"parameters":{"content":"## 📋 워크플로우 설명\n\n### TradingView Alert 포맷\n```json\n{\n  \"symbol\": \"BTC\",\n  \"amount\": 2000000\n}\n```\n\n### 필수 Credentials\n1. **TradingView Webhook Auth** (Header Auth)\n   - Name: `Authorization`\n   - Value: `Bearer YOUR_SECRET_TOKEN`\n\n2. **Upbit API Credentials**\n   - Access Key\n   - Secret Key\n\n3. **Upbit JWT Auth**\n   - Secret: Upbit Secret Key\n\n### 주요 기능\n- ✅ Webhook 인증\n- ✅ 입력값 검증\n- ✅ 동적 금액 설정\n- ✅ 안전한 JWT 생성\n- ✅ 에러 핸들링\n- ✅ 상세 로깅","height":715,"width":363,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1520,1472],"id":"1fe2d774-680e-4c24-bc12-c319852b88a4","name":"Workflow Info"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1088,1808],"id":"4c728562-8e7b-4b36-a09c-bb423255dc1c","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"86f5a0b1-52b4-4d71-95dc-783c72435805","name":"body","value":"{   \"symbol\": \"BTC\",   \"amount\": 2000000 }","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-832,1808],"id":"780ee43d-b97e-4fab-a862-b39fc08a13c6","name":"Edit Fields"}],"connections":{"Upbit Buy Crypto Nonce":{"main":[[{"node":"Upbit Buy Set Fields","type":"main","index":0}]]},"Upbit Buy Set Fields":{"main":[[{"node":"Get Upbit Buy QueryString","type":"main","index":0}]]},"Get Upbit Buy QueryString":{"main":[[{"node":"Upbit Buy Crypto QueryString","type":"main","index":0}]]},"Upbit Buy Crypto QueryString":{"main":[[{"node":"Upbit Buy JWT","type":"main","index":0}]]},"Upbit Buy JWT":{"main":[[{"node":"Upbit Buy Order","type":"main","index":0}]]},"Upbit Sell Webhook":{"main":[[{"node":"Upbit Account Crypto Nonce","type":"main","index":0}]]},"Upbit Account Crypto Nonce":{"main":[[{"node":"Upbit Account Set Fields","type":"main","index":0}]]},"Upbit Account Set Fields":{"main":[[{"node":"Upbit Account JWT","type":"main","index":0}]]},"Upbit Account JWT":{"main":[[{"node":"Upbit Account","type":"main","index":0}]]},"Upbit Account":{"main":[[{"node":"Get Current Ticker Account Info","type":"main","index":0}]]},"Upbit Sell Crypto Nonce":{"main":[[{"node":"Upbit Sell Set Fields","type":"main","index":0}]]},"Get Current Ticker Account Info":{"main":[[{"node":"Upbit Sell Crypto Nonce","type":"main","index":0}]]},"Get Upbit Sell QueryString":{"main":[[{"node":"Upbit Sell Crypto QueryString","type":"main","index":0}]]},"Upbit Sell Set Fields":{"main":[[{"node":"Get Upbit Sell QueryString","type":"main","index":0}]]},"Upbit Sell Crypto QueryString":{"main":[[{"node":"Upbit Sell JWT","type":"main","index":0}]]},"Upbit Sell JWT":{"main":[[{"node":"Upbit Sell Order","type":"main","index":0}]]},"Upbit Buy Webhook":{"main":[[{"node":"Upbit Buy Crypto Nonce","type":"main","index":0}]]},"TradingView Webhook":{"main":[[]]},"Validate Input":{"main":[[],[{"node":"Format Validation Error","type":"main","index":0}]]},"Prepare Order Data":{"main":[[{"node":"Generate Nonce","type":"main","index":0}]]},"Generate Nonce":{"main":[[{"node":"Build Order Params","type":"main","index":0}]]},"Build Order Params":{"main":[[{"node":"Create Query String","type":"main","index":0}]]},"Create Query String":{"main":[[{"node":"Hash Query String","type":"main","index":0}]]},"Hash Query String":{"main":[[{"node":"Generate JWT","type":"main","index":0}]]},"Generate JWT":{"main":[[{"node":"Execute Order","type":"main","index":0}]]},"Execute Order":{"main":[[{"node":"Check Order Success","type":"main","index":0}],[{"node":"Format Error Log","type":"main","index":0}]]},"Check Order Success":{"main":[[{"node":"Format Success Log","type":"main","index":0}],[{"node":"Format Error Log","type":"main","index":0}]]},"Format Success Log":{"main":[[]]},"Format Error Log":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Format Validation Error":{"main":[[{"node":"Respond Validation Error","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Prepare Order Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b64fbd97-031e-47b6-98da-8e4ea48802a3","triggerCount":3,"shared":[{"updatedAt":"2025-11-03T15:43:02.149Z","createdAt":"2025-11-03T15:43:02.149Z","role":"workflow:owner","workflowId":"28t20YQJSeQPp8B5","projectId":"0DdTWKXSpzuGIN4f"}],"tags":[]}