workflows/가상화폐 자동매매.json
{"updatedAt":"2025-12-25T16:03:16.000Z","createdAt":"2025-11-03T15:43:02.141Z","id":"28t20YQJSeQPp8B5","name":"가상화폐 자동매매","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://api.upbit.com/v1/accounts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"accept","value":"application/json"}]},"options":{}},"name":"Upbit Account","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-48,912],"id":"c11a2ba2-5f0b-41ce-b897-f3d9594cf61a"},{"parameters":{"httpMethod":"POST","path":"upbit-sell","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-944,912],"id":"42963d18-d432-4d75-ba5e-29f29e1c917f","name":"Upbit Sell Webhook","webhookId":"ccd10fce-fe24-4508-bbba-8d43f5024763"},{"parameters":{"action":"generate","dataPropertyName":"nonce"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-720,464],"id":"a2eb1f49-3894-40e7-b089-7d55fc393e6d","name":"Upbit Buy Crypto Nonce"},{"parameters":{"assignments":{"assignments":[{"id":"da227881-7eec-4255-9f2e-da38f00dd685","name":"access_key","value":"VWllyxyHEeodpZAHxUWcwhUQNQ3grggdjuCeHxzc","type":"string"},{"id":"703727ed-d4a6-443b-a73c-b55119fb0cc8","name":"nonce","value":"={{ $json.nonce }}","type":"string"},{"id":"2d850890-2054-428e-9007-cf5e535e36f0","name":"body","value":"={\n  \"market\": \"KRW-{{ $json.body }}\",\n  \"side\": \"bid\",\n  \"price\": \"6000000\",\n  \"ord_type\": \"price\"\n}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,464],"id":"ff78be48-710f-427d-8658-099a9c94c2c4","name":"Upbit Buy Set Fields"},{"parameters":{"jsCode":"const params = $input.first().json.body;\n\nconst queryString = Object.keys(params)\n  .map(key => `${encodeURIComponent(key)}=${encodeURIComponent(params[key])}`)\n  .join('&');\n\nreturn { queryString };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,464],"id":"55d1790f-bd1b-46cb-896a-77f7e82a9d5e","name":"Get Upbit Buy QueryString"},{"parameters":{"type":"SHA512","value":"={{ $json.queryString }}","dataPropertyName":"query_hash"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-48,464],"id":"448c9f2b-632c-4a58-9dbe-88fd6fd4924f","name":"Upbit Buy Crypto QueryString"},{"parameters":{"useJson":true,"claimsJson":"={\n  \"access_key\": \"{{ $('Upbit Buy Set Fields').item.json.access_key }}\",\n  \"nonce\": \"{{ $('Upbit Buy Set Fields').item.json.nonce }}\",\n  \"query_hash\": \"{{ $json.query_hash }}\",\n  \"query_hash_alg\": \"SHA512\"\n}","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[176,464],"id":"cd77b807-06d7-4ea2-b301-3f0457899b40","name":"Upbit Buy JWT","credentials":{"jwtAuth":{"id":"OI8HQf14HN2sRJIv","name":"Upbit JWT Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"da227881-7eec-4255-9f2e-da38f00dd685","name":"access_key","value":"VWllyxyHEeodpZAHxUWcwhUQNQ3grggdjuCeHxzc","type":"string"},{"id":"703727ed-d4a6-443b-a73c-b55119fb0cc8","name":"nonce","value":"={{ $json.nonce }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,912],"id":"770fcb7b-54f2-441a-9ee3-e96854cd1e30","name":"Upbit Account Set Fields"},{"parameters":{"action":"generate","dataPropertyName":"nonce"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-720,912],"id":"880148cc-37e8-4daa-a461-fa6ab48ef089","name":"Upbit Account Crypto Nonce"},{"parameters":{"useJson":true,"claimsJson":"={\n  \"access_key\": \"{{ $json.access_key }}\",\n  \"nonce\": \"{{ $json.nonce }}\",\n  \"query_hash_alg\": \"SHA512\",\n}","options":{}},"name":"Upbit Account JWT","type":"n8n-nodes-base.jwt","typeVersion":1,"position":[-272,912],"id":"d490f916-5fb8-4f2d-890e-bb6342b3b969","credentials":{"jwtAuth":{"id":"OI8HQf14HN2sRJIv","name":"Upbit JWT Auth account"}}},{"parameters":{"action":"generate","dataPropertyName":"nonce"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[400,912],"id":"00ae6eb3-5364-4209-b925-1654bf62ef39","name":"Upbit Sell Crypto Nonce"},{"parameters":{"jsCode":"console.log($input.all())\nreturn $input.all().filter(({json}) => json.currency === $('Upbit Sell Webhook').first().json.body);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,912],"id":"a5691a5d-718d-4b07-8b54-4d7ae3a2142b","name":"Get Current Ticker Account Info"},{"parameters":{"assignments":{"assignments":[{"id":"da227881-7eec-4255-9f2e-da38f00dd685","name":"access_key","value":"VWllyxyHEeodpZAHxUWcwhUQNQ3grggdjuCeHxzc","type":"string"},{"id":"703727ed-d4a6-443b-a73c-b55119fb0cc8","name":"nonce","value":"={{ $json.nonce }}","type":"string"},{"id":"2d850890-2054-428e-9007-cf5e535e36f0","name":"body","value":"={\n  \"market\": \"KRW-{{ $('Upbit Sell Webhook').item.json.body }}\",\n  \"side\": \"ask\",\n  \"volume\": \"{{ $('Get Current Ticker Account Info').item.json.balance }}\",\n  \"ord_type\": \"market\"\n}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,912],"id":"deee08ef-db62-47c6-9293-41abecc1ab7a","name":"Upbit Sell Set Fields"},{"parameters":{"jsCode":"const params = $input.first().json.body;\n\nconst queryString = Object.keys(params)\n  .map(key => `${encodeURIComponent(key)}=${encodeURIComponent(params[key])}`)\n  .join('&');\n\nreturn { queryString };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,912],"id":"59f7f19f-53be-4359-8cc4-efe1c52c89f5","name":"Get Upbit Sell QueryString"},{"parameters":{"type":"SHA512","value":"={{ $json.queryString }}","dataPropertyName":"query_hash"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1072,912],"id":"a3f19947-5d73-4ad3-ad6b-9f9b74ac7995","name":"Upbit Sell Crypto QueryString"},{"parameters":{"useJson":true,"claimsJson":"={\n  \"access_key\": \"{{ $('Upbit Sell Set Fields').item.json.access_key }}\",\n  \"nonce\": \"{{ $('Upbit Sell Set Fields').item.json.nonce }}\",\n  \"query_hash\": \"{{ $json.query_hash }}\",\n  \"query_hash_alg\": \"SHA512\"\n}","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[1296,912],"id":"1fc675c1-8cab-43f5-bfa5-a678877798ad","name":"Upbit Sell JWT","credentials":{"jwtAuth":{"id":"OI8HQf14HN2sRJIv","name":"Upbit JWT Auth account"}}},{"parameters":{"method":"POST","url":"https://api.upbit.com/v1/orders/test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Upbit Sell Set Fields').item.json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-944,1136],"id":"3acc1e25-aebd-4dd5-ac49-b204d78c8a6a","name":"Upbit Sell Order Test"},{"parameters":{"method":"POST","url":"https://api.upbit.com/v1/orders/test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Upbit Test Buy Set Fields').item.json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[784,688],"id":"7e8cf4ba-b327-40df-b271-72aafcfad1c5","name":"Upbit Buy Order Test"},{"parameters":{"httpMethod":"POST","path":"upbit-buy","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-944,464],"id":"36e3908d-7585-4960-a277-a9574b9be282","name":"Upbit Buy Webhook","webhookId":"ccd10fce-fe24-4508-bbba-8d43f5024763"},{"parameters":{"method":"POST","url":"https://api.upbit.com/v1/orders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Upbit Buy Set Fields').item.json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[400,464],"id":"aaf375d8-0c07-4d2e-8e52-bceef7ef27a5","name":"Upbit Buy Order"},{"parameters":{"method":"POST","url":"https://api.upbit.com/v1/orders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Upbit Sell Set Fields').item.json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[1520,912],"id":"2c54e848-02b9-479d-b167-b3c952c88ab1","name":"Upbit Sell Order"},{"parameters":{"jsCode":"\nreturn {\n  json: {\n    \"body\": \"BTC / 588000\",\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,224],"id":"92b10ef4-c2aa-4d06-938b-76f814a2cfa2","name":"Code in JavaScript"},{"parameters":{"httpMethod":"POST","path":"upbit-test","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1024,624],"id":"006d3ff2-a211-4e1d-911b-95dc5c3a7105","name":"Upbit Buy Test Webhook","webhookId":"ccd10fce-fe24-4508-bbba-8d43f5024763"},{"parameters":{"action":"generate","dataPropertyName":"nonce"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-272,688],"id":"2c6449fe-0739-4a62-bc1e-bd740279a604","name":"Upbit Test Buy Crypto Nonce"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const body = item.json.body || \"\";\n  \n  // 1. \"/\" 기준으로 나누고 앞뒤 공백 제거\n  const parts = body.split(\"/\").map(s => s.trim());\n  const rawTicker = parts[0];\n  const rawPrice = parts[1];\n\n  // 2. 데이터 타입 변환 (문자열 -> 숫자)\n  const market = rawTicker || \"UNKNOWN\";\n  const price = parseFloat(rawPrice) || 0;\n\n  return {\n    json: {\n      market,\n      price,\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,688],"id":"8fd83662-5620-4259-86ec-ed86d7488c84","name":"Upbit Test Buy Webhook Paring"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1200,752],"id":"caa8a638-d247-4d1a-9075-a8644f29bfa7","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"\nreturn {\n  json: {\n    \"body\": \"KRW-BTC / 129653000\",\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1008,752],"id":"dd268579-7715-4c33-b897-62949e12db56","name":"Test Data"},{"parameters":{"assignments":{"assignments":[{"id":"da227881-7eec-4255-9f2e-da38f00dd685","name":"access_key","value":"VWllyxyHEeodpZAHxUWcwhUQNQ3grggdjuCeHxzc","type":"string"},{"id":"703727ed-d4a6-443b-a73c-b55119fb0cc8","name":"nonce","value":"={{ $json.nonce }}","type":"string"},{"id":"2d850890-2054-428e-9007-cf5e535e36f0","name":"body","value":"={\n  \"market\": \"{{ $json.market }}\",\n  \"side\": \"bid\",\n  \"price\": \"{{ $('Upbit Test Buy Webhook Paring').item.json.price }}\",\n  \"volume\": \"{{ ($json.money /  $('Upbit Test Buy Webhook Paring').item.json.price)}}\",\n  \"ord_type\": \"limit\"\n}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,688],"id":"22b866f2-00a6-4847-ada7-5cafdacbb035","name":"Upbit Test Buy Set Fields"},{"parameters":{"documentId":{"__rl":true,"value":"1OsEplu4MqlHfer1_eATDqkOByGpVbXpPy7aLQ4PZPQc","mode":"list","cachedResultName":"Trading","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OsEplu4MqlHfer1_eATDqkOByGpVbXpPy7aLQ4PZPQc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":966743605,"mode":"list","cachedResultName":"암호화폐","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OsEplu4MqlHfer1_eATDqkOByGpVbXpPy7aLQ4PZPQc/edit#gid=966743605"},"filtersUI":{"values":[{"lookupColumn":"market","lookupValue":"={{ $json.market }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-496,688],"id":"7d8344a8-64df-4231-862f-2e9cab7a7761","name":"암호화폐 투자 정보 가져오기","credentials":{"googleSheetsOAuth2Api":{"id":"40ZhTlEyUQ25N9Tx","name":"Developjik Google Sheets account"}}},{"parameters":{"jsCode":"const params = $input.first().json.body;\n\nconst queryString = Object.keys(params)\n  .map(key => `${encodeURIComponent(key)}=${encodeURIComponent(params[key])}`)\n  .join('&');\n\nreturn { queryString };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,688],"id":"e10d39c1-f750-4832-9a45-3b7409e59c36","name":"Get Upbit Test Buy QueryString"},{"parameters":{"type":"SHA512","value":"={{ $json.queryString }}","dataPropertyName":"query_hash"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[384,688],"id":"9b2af2b9-7308-4ca7-a431-f771283a3bd1","name":"Upbit Test Buy Crypto QueryString"},{"parameters":{"useJson":true,"claimsJson":"={\n  \"access_key\": \"{{ $('Upbit Test Buy Set Fields').item.json.access_key }}\",\n  \"nonce\": \"{{ $('Upbit Test Buy Set Fields').item.json.nonce }}\",\n  \"query_hash\": \"{{ $json.query_hash }}\",\n  \"query_hash_alg\": \"SHA512\"\n}","options":{}},"type":"n8n-nodes-base.jwt","typeVersion":1,"position":[560,688],"id":"54de6b69-ac27-49a9-9362-ba5236c80583","name":"Upbit Test Buy JWT","credentials":{"jwtAuth":{"id":"OI8HQf14HN2sRJIv","name":"Upbit JWT Auth account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1OsEplu4MqlHfer1_eATDqkOByGpVbXpPy7aLQ4PZPQc","mode":"list","cachedResultName":"Trading","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OsEplu4MqlHfer1_eATDqkOByGpVbXpPy7aLQ4PZPQc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1876994744,"mode":"list","cachedResultName":"암호화폐 Test 거래 history","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OsEplu4MqlHfer1_eATDqkOByGpVbXpPy7aLQ4PZPQc/edit#gid=1876994744"},"columns":{"mappingMode":"defineBelow","value":{"uuid":"={{ $json.uuid }}","volume":"={{ $json.volume }}","created_at":"={{ $json.created_at }}","price":"={{ $json.price }}","market":"={{ $json.market }}"},"matchingColumns":["uuid"],"schema":[{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"market","displayName":"market","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"volume","displayName":"volume","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"uuid","displayName":"uuid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[992,688],"id":"06ea26ba-6a67-47d2-bf74-5c04306e07f6","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"40ZhTlEyUQ25N9Tx","name":"Developjik Google Sheets account"}}}],"connections":{"Upbit Buy Crypto Nonce":{"main":[[{"node":"Upbit Buy Set Fields","type":"main","index":0}]]},"Upbit Buy Set Fields":{"main":[[{"node":"Get Upbit Buy QueryString","type":"main","index":0}]]},"Get Upbit Buy QueryString":{"main":[[{"node":"Upbit Buy Crypto QueryString","type":"main","index":0}]]},"Upbit Buy Crypto QueryString":{"main":[[{"node":"Upbit Buy JWT","type":"main","index":0}]]},"Upbit Buy JWT":{"main":[[{"node":"Upbit Buy Order","type":"main","index":0}]]},"Upbit Sell Webhook":{"main":[[{"node":"Upbit Account Crypto Nonce","type":"main","index":0}]]},"Upbit Account Crypto Nonce":{"main":[[{"node":"Upbit Account Set Fields","type":"main","index":0}]]},"Upbit Account Set Fields":{"main":[[{"node":"Upbit Account JWT","type":"main","index":0}]]},"Upbit Account JWT":{"main":[[{"node":"Upbit Account","type":"main","index":0}]]},"Upbit Account":{"main":[[{"node":"Get Current Ticker Account Info","type":"main","index":0}]]},"Upbit Sell Crypto Nonce":{"main":[[{"node":"Upbit Sell Set Fields","type":"main","index":0}]]},"Get Current Ticker Account Info":{"main":[[{"node":"Upbit Sell Crypto Nonce","type":"main","index":0}]]},"Get Upbit Sell QueryString":{"main":[[{"node":"Upbit Sell Crypto QueryString","type":"main","index":0}]]},"Upbit Sell Set Fields":{"main":[[{"node":"Get Upbit Sell QueryString","type":"main","index":0}]]},"Upbit Sell Crypto QueryString":{"main":[[{"node":"Upbit Sell JWT","type":"main","index":0}]]},"Upbit Sell JWT":{"main":[[{"node":"Upbit Sell Order","type":"main","index":0}]]},"Upbit Buy Webhook":{"main":[[{"node":"Upbit Buy Crypto Nonce","type":"main","index":0}]]},"Upbit Buy Test Webhook":{"main":[[]]},"Upbit Test Buy Webhook Paring":{"main":[[{"node":"암호화폐 투자 정보 가져오기","type":"main","index":0}]]},"Upbit Test Buy Crypto Nonce":{"main":[[{"node":"Upbit Test Buy Set Fields","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Test Data","type":"main","index":0}]]},"Test Data":{"main":[[{"node":"Upbit Test Buy Webhook Paring","type":"main","index":0}]]},"암호화폐 투자 정보 가져오기":{"main":[[{"node":"Upbit Test Buy Crypto Nonce","type":"main","index":0}]]},"Upbit Test Buy Set Fields":{"main":[[{"node":"Get Upbit Test Buy QueryString","type":"main","index":0}]]},"Get Upbit Test Buy QueryString":{"main":[[{"node":"Upbit Test Buy Crypto QueryString","type":"main","index":0}]]},"Upbit Test Buy Crypto QueryString":{"main":[[{"node":"Upbit Test Buy JWT","type":"main","index":0}]]},"Upbit Test Buy JWT":{"main":[[{"node":"Upbit Buy Order Test","type":"main","index":0}]]},"Upbit Buy Order Test":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"136c934d-935b-45aa-b2d4-7c618bf95814","triggerCount":3,"shared":[{"updatedAt":"2025-11-03T15:43:02.149Z","createdAt":"2025-11-03T15:43:02.149Z","role":"workflow:owner","workflowId":"28t20YQJSeQPp8B5","projectId":"0DdTWKXSpzuGIN4f"}],"tags":[]}